<footer class="page-footer" id="footer" data-midnight="dark">
    <div class="container">
        <div class="page-footer__content">
            <a href="#to-intro" class="page-footer__scroll-top">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up"></use>
                </svg>
                Наверх
            </a>
            <nav class="page-footer__nav">
                <a href="#" class="page-footer__nav-link">
                    Главная
                </a>
                <a href="#" class="page-footer__nav-link">
                    Портфолио
                </a>
                <a href="#" class="page-footer__nav-link">
                    Услуги
                </a>
                <a href="#" class="page-footer__nav-link">
                    О нас
                </a>
                <a href="#" class="page-footer__nav-link">
                    Блог
                </a>
            </nav>
            <div class="page-footer__copyright">
                © 2019 Compass Brand
            </div>
            <a href="#" class="page-footer__madeby">
                Website by
                <img src="img/markweber.svg" alt="" class="page-footer__madeby-image" width="80">
            </a>
        </div>
    </div>
</footer>