<footer class="page-footer" id="footer" data-midnight="dark">
    {{#if casePage}}
        <div class="page-footer__bg">
            <img data-src="img/case/3.jpg" alt="" class="page-footer__bg-image lazyload">
        </div>
    {{/if}}

    <div class="container">
        <div class="page-footer__content">
            <a href="#" class="page-footer__scroll-top js-scroll-top">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up"></use>
                </svg>
                Наверх
            </a>
            <nav class="page-footer__nav">
                <a href="#" class="page-footer__nav-link">
                    Главная
                </a>
                <a href="#" class="page-footer__nav-link">
                    Портфолио
                </a>
                <a href="#" class="page-footer__nav-link">
                    Услуги
                </a>
                <a href="#" class="page-footer__nav-link">
                    О нас
                </a>
                <a href="#" class="page-footer__nav-link">
                    Блог
                </a>
            </nav>
            <nav class="page-footer__nav page-footer__nav-social">
                <a href="#" class="page-footer__nav-link">
                    Instagram
                </a>
                <a href="#" class="page-footer__nav-link">
                    Facebook
                </a>
                <a href="#" class="page-footer__nav-link">
                    Behance
                </a>


            </nav>

            <div class="page-footer__copyright">
                © 2019 Compass Brand
            </div>
            <a href="#" class="page-footer__madeby">
                Website by
                <img src="img/markweber.svg" alt="" class="page-footer__madeby-image" width="80">
            </a>

            {{#if casePage}}
            <div class="page-footer__write-us js-show-footer-bg">
                <div class="page-footer__write-us-interested">
                    Следующий проект
                </div>
                <a href="#" class="page-footer__write-us-btn">
                    <span class="page-footer__write-us-btn-text">
                        Музей Казанской<br> Иконы</span><span class="page-footer__write-us-btn-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-fillable-right-arrow">
                            <use xlink:href="#fillable-right-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
            {{else}}


            <div class="page-footer__write-us">
                <div class="page-footer__write-us-interested">
                    Заинтересовало?
                </div>
                <a href="#" class="page-footer__write-us-btn">
                    <span class="page-footer__write-us-btn-text">
                        Напишите нам</span><span class="page-footer__write-us-btn-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-fillable-right-arrow">
                            <use xlink:href="#fillable-right-arrow"></use>
                        </svg>
                    </span>


                </a>
            </div>


            {{/if}}

        </div>
    </div>
</footer>