<header class="page-header">

    <div class="container">

        <div class="page-header__row">
            <div class="page-header__left-col">
                
            </div>
            <div class="page-header__right-col">
                <button class="page-header__burger-btn js-burger-btn">
                    <span class="page-header__burger-btn-content"></span>
                </button>
                <a href="#" class="page-header__contact-link">
                    Связаться

                </a>
            </div>
        </div>
    </div>


</header>


<div class="sidebar">
    <div class="sidebar__inner">
        <a href="#" class="page-header__logo-link">
            <img src="img/compass-logo.svg" alt="" class="page-header__logo-image" width="210" onload="SVGInject(this)">
        </a>
        <div class="page-header__social">
            <ul class="page-header__social-list">
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        Instagram
                    </a>
                </li>
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        Facebook
                    </a>
                </li>
                <li class="page-header__social-list-item">
                    <a href="#" class="page-header__social-link">
                        Behance
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-header__scroll-progress">

        </div>
    </div>
</div>