<div class="hystmodal modal-form" id="formModal" aria-hidden="true">
    <div class="hystmodal__wrap modal-form__wrapper">
        <div class="hystmodal__window modal-form__window" role="dialog" aria-modal="true">
            <button data-hystclose class="hystmodal__close modal-form__close">
                <svg width="8" height="8" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
                <span>Закрыть</span>
            </button>
            <!-- You modal HTML markup -->
            <div class="modal-form__inner">
                <div class="modal-form__photo">
                    <div>
                        <img class="modal-form__image" src="img/form-modal-image.jpg" alt="Булат Салаватов">
                        <span class="modal-form__image-label">Булат Салаватов / СЕО</span>
                    </div>
                    <div class="contact-us__form-policy modal-form__form-policy modal-form__form-policy--desktop">
                        Нажимая кнопку «Разобрать», вы даёте согласие на обработку <a
                            href="#">
                            персональных данных
                        </a>
                    </div>
                </div>

                <form action="/" method="POST" class="contact-us__form modal-form__form" data-need-validation="" data-mobile-midnight="dark" id="contact-us-form">
                    <h3 class="modal-form__form-title">Lorem ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</h3>
                    <p class="modal-form__form-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quasi debitis? Porro delectus adipisci soluta temporibus.</p>
                    <div class="contact-us__form-layers">
                        <div class="contact-us__form-standard-layer active">
                            <div class="contact-us__form-info modal-form__form-info">
                                <div class="contact-us__form-row">
                                    <div class="contact-us__form-row-left-col">
                                        <label for="yourname" class="contact-us__form-label">
                                            Имя
                                        </label>
                                    </div>
                                    <div class="contact-us__form-row-right-col">
                                        <div class="contact-us__form-input-wrapper">
                                            <input type="text" name="yourname" id="yourname"
                                                class="contact-us__form-input" autocomplete="new-password" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="contact-us__form-row">
                                    <div class="contact-us__form-row-left-col">
                                        <label for="yourphone" class="contact-us__form-label">
                                            Телефон
                                        </label>
                                    </div>
                                    <div class="contact-us__form-row-right-col">
                                        <div class="contact-us__form-input-wrapper">
                                            <input type="tel" name="yourphone" id="yourphone"
                                                class="contact-us__form-input js-phone-input"
                                                autocomplete="new-password" required data-parsley-phone>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="contact-us__form-submit-row modal-form__form-submit-row">
                                <div class="contact-us__form-policy modal-form__form-policy modal-form__form-policy--mobile">
                                    Нажимая кнопку «Разобрать», вы даёте согласие на обработку <a
                                        href="#">
                                        персональных данных
                                    </a>
                                </div>

                                <button class="new-footer__form-submit-btn">
                                    Разобрать
                                    <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                        <use xlink:href="#long-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="contact-us__form-success-layer">
                            <h3 class="contact-us__form-success-heading">
                                Спасибо, что доверяете нам!

                                <img src="img/contact-us-arrow.svg" alt=""
                                    class="contact-us__form-success-heading-image">
                            </h3>
                            <div class="contact-us__form-success-text">
                                <p>
                                    Мы свяжемся с вами в ближайшее время
                                </p>
                            </div>
                            <a href="#" class="contact-us__form-success-link">
                                Написать еще
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div> 
</div>