<footer class="page-footer new-footer" id="footer" data-midnight="dark">
    <div class="container">
        <div class="page-footer__content new-footer__content">
            <a href="#" class="page-footer__scroll-top js-scroll-top">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up"></use>
                </svg>
                Наверх
            </a>
            
            <form action="/" method="POST" class="contact-us__form new-footer__form" data-need-validation="" data-mobile-midnight="dark" id="contact-us-form">
                <h3 class="blog__section-heading">Создайте бренд вместе с COMPASS</h3>
                <div class="contact-us__form-layers">
                    <div class="contact-us__form-standard-layer active">
                        <div class="contact-us__form-info new-footer__form-info">
                            <div>
                              <div class="contact-us__form-row">
                                  <div class="contact-us__form-row-left-col">
                                      <label for="yourname" class="contact-us__form-label">
                                          Имя
                                      </label>
                                  </div>
                                  <div class="contact-us__form-row-right-col">
                                      <div class="contact-us__form-input-wrapper">
                                          <input type="text" name="yourname" id="yourname"
                                              class="contact-us__form-input" autocomplete="new-password" required>
                                      </div>

                                  </div>
                              </div>
                              <div class="contact-us__form-row">
                                  <div class="contact-us__form-row-left-col">
                                      <label for="yourphone" class="contact-us__form-label">
                                          Телефон
                                      </label>
                                  </div>
                                  <div class="contact-us__form-row-right-col">
                                      <div class="contact-us__form-input-wrapper">
                                          <input type="tel" name="yourphone" id="yourphone"
                                              class="contact-us__form-input js-phone-input"
                                              autocomplete="new-password" required data-parsley-phone>
                                      </div>

                                  </div>
                              </div>
                              <div class="contact-us__form-row">
                                  <div class="contact-us__form-row-left-col">
                                      <label for="yourmail" class="contact-us__form-label">
                                          E-mail
                                      </label>
                                  </div>
                                  <div class="contact-us__form-row-right-col">
                                      <div class="contact-us__form-input-wrapper">
                                          <input type="email" name="yourmail" id="yourmail"
                                              class="contact-us__form-input"
                                              autocomplete="new-password" required>
                                      </div>

                                  </div>
                              </div>
                            </div>
                            <div class="contact-us__form-comment">
                                <div class="contact-us__form-textarea-row">
                                    <div class="contact-us__form-row-left-col">
                                        <label for="comment" class="contact-us__form-label">
                                            Комментарий
                                        </label>
                                    </div>
                                    <div class="contact-us__form-row-right-col">

                                    </div>
                                </div>
                                <div class="contact-us__form-textarea-row">
                                    <div class="contact-us__form-row-left-col">

                                    </div>
                                    <div class="contact-us__form-row-right-col">
                                        <div class="contact-us__form-textarea-wrapper">
                                            <textarea name="comment" class="contact-us__form-textarea"
                                                id="comment" autocomplete="new-password"></textarea>
                                        </div>
                                        <div class="contact-us__form-file-upload js-file-upload">
                                            <input type="file" name="yourfile" id="yourfile"
                                                class="contact-us__form-file-upload-input">


                                            <label for="yourfile" class="contact-us__form-file-upload-label">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-file">
                                                    <use xlink:href="#file"></use>
                                                </svg>
                                                <span class="contact-us__form-file-upload-label-text">
                                                    Прикрепить файл
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="contact-us__form-submit-row new-footer__form-submit-row">
                            <div class="contact-us__form-policy">
                                Нажимая кнопку «Отправить сообщение», вы даёте согласие на обработку <a
                                    href="#">
                                    персональных данных
                                </a>
                            </div>
                            <button class="new-footer__form-submit-btn">
                                Отправить
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="contact-us__form-success-layer">
                        <h3 class="contact-us__form-success-heading">
                            Спасибо, что доверяете нам!

                            <img src="img/contact-us-arrow.svg" alt=""
                                class="contact-us__form-success-heading-image">
                        </h3>
                        <div class="contact-us__form-success-text">
                            <p>
                                Мы свяжемся с вами в ближайшее время
                            </p>
                        </div>
                        <a href="#" class="contact-us__form-success-link">
                            Написать еще
                        </a>
                    </div>
                </div>

            </form>

            <div class="contact-us__info new-footer__info">
                <a href="tel:+78432456140" class="contact-us__phone-link new-footer__phone-link">+7 843 245-61-40</a>
                <a href="mailto:info@compassbrand.ru" class="contact-us__email-link new-footer__email-link">info@compassbrand.ru</a>

                <div class="contact-us__address new-footer__address">
                    <p>
                        Ул. Салимжанова, д. 2В, оф. 201,<br> Казань, 420107
                    </p>
                </div>
            </div>

            <div class="page-footer__copyright new-footer__copyright">
                <span class="new-footer__label">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor, id explicabo quos eum mollitia! Officia pariatur non explicabo perspiciatis?</span>
                © 2019 Compass Brand
            </div>

            <a href="#" class="page-footer__madeby new-footer__madeby">
                Website by
                <img src="img/markweber.svg" alt="" class="page-footer__madeby-image" width="80">
            </a>

        </div>
    </div>
</footer>