{{#extend "layout"}}
{{#content "main"}}

<section class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__top-text">
                О нас
            </div>
            <div class="about__intro-text">
                <p>
                    С 2015 года в рамках агентства полного цикла мы начали формировать команду узкопрофильных
                    специалистов: маркетинговых аналитиков, креаторов, неймеров, дизайнеров, прошли обучение в Высшей
                    Школе Брендинга (Москва). И уже тогда брендинг и дизайн стали основным продуктом нашей команды.
                    Поэтому сейчас, мы создаем сильные, конкурентоспособные бренды. Хорошо разбираемся в рынке,
                    ориентируемся на вашу целевую аудиторию и создаём действительно эффективные бренд-стратегии!
                </p>
            </div>
            <div class="about__fullwidth-logo">
                <img src="img/fullwidth-logo.svg" alt="" class="about__fullwidth-logo-image">
            </div>
            <div class="about__fullwidth-image-wrapper">
                <img src="img/about-image.jpg" alt="" class="about__fullwidth-image">
            </div>
            <div class="about__description">
                <h2 class="about__description-heading">
                    Мы не<br> заблуждаемся
                </h2>
                <div class="about__description-content">
                    <div class="about__description-large-text">
                        <p>
                            В основе нашего подхода
                            глубокое изучение потребителей, их мотивов
                            и поведения, погружение
                            в продукт и исследование рынка
                        </p>
                    </div>
                    <div class="about__description-small-text">
                        <p>
                            Тут телега раскрывающая наш слоган и плавное перетекание к принципам. Текст-рыба. Построение
                            бренда изменяет стратегический социальный статус. Креатив однородно стабилизирует анализ
                            зарубежного опыта. Маркетингово-ориентированное издание, безусловно, традиционно
                            специфицирует презентационный материал. Такое понимание ситуации восходит к Эл Райс, при
                            этом интеграция восстанавливает экспериментальный план размещения. Медиамикс трансформирует
                            культурный социальный статус. PR, анализируя результаты рекламной кампании, переворачивает
                            рейтинг.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about__team">
                <ul class="about__team-list">
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/1.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Вера Семёнова
                            </h4>
                            <div class="about__team-card-role">
                                Руководитель проектов
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/2.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Рамиля Ярмухамедова
                            </h4>
                            <div class="about__team-card-role">
                                Дизайнер, фотограф
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/3.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Булат Салаватов
                            </h4>
                            <div class="about__team-card-role">
                                Директор
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/4.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Вера Семёнова
                            </h4>
                            <div class="about__team-card-role">
                                Руководитель проектов
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/5.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Рамиля Ярмухамедова
                            </h4>
                            <div class="about__team-card-role">
                                Дизайнер, фотограф
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/6.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Булат Салаватов
                            </h4>
                            <div class="about__team-card-role">
                                Директор
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="about__team-list-item">
                        <a href="#" class="about__team-card">
                            <div class="about__team-card-image-container">
                                <img src="img/team/6.jpg" alt="" class="about__team-card-image">
                            </div>
                            <h4 class="about__team-card-name">
                                Вера Семёнова
                            </h4>
                            <div class="about__team-card-role">
                                Руководитель проектов
                            </div>
                            <div class="about__team-card-social">
                                instagram
                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                    <use xlink:href="#link"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <div class="about__team-list-item">
                        <div class="about__vacancy-card">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                            <div class="about__vacancy-card-content">
                                <div class="about__vacancy-card-small-text">
                                    <p>
                                        Мы всегда открыты для общения и если вы хотите с нами познакомится или мы можем
                                        быть
                                        друг другу полезны, то пишите нам на почту:
                                    </p>
                                    <a href="mailto:info@compassbrand.ru">
                                        info@compassbrand.ru
                                    </a>



                                </div>

                                <div class="about__vacancy-card-here">
                                    Вакансии <a href="#">
                                        тут
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="case__content-slider-block case__content-slider-block--about js-case-fullwidth-block" data-mobile-midnight="dark">
                <div class="case__content-slider js-case-slider js-cursor-plus">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="img/about-slider-image.jpg" class="case__content-slider-card" data-slider-card
                                    data-fancybox="case-gallery">
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/about-slider-image.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="img/about-slider-image.jpg" class="case__content-slider-card" data-slider-card
                                    data-fancybox="case-gallery">
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/about-slider-image.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="img/about-slider-image.jpg" class="case__content-slider-card" data-slider-card
                                    data-fancybox="case-gallery">
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/about-slider-image.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="case__content-slider-nav">
                        <div class="case__content-slider-arrows">
                            <button class="case__content-slider-arrow case__content-slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="case__content-slider-arrow case__content-slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="case__content-slider-pagination">

                        </div>
                    </div>
                </div>
            </div>

            <div class="about__clients-and-friends">
                <h3 class="about__clients-and-friends-heading">
                    Клиенты и друзья:
                </h3>
                <ul class="about__clients-and-friends-list">
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Агросила







                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Ирбис







                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Зарканд







                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Ozon











                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Тэнкард
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Логистика
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Фармакс
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Yaratelle
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Громкие рыбы
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Шоколатые
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Музей Казанской Иконы
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Марк Вебер
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Парк Хаус
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <a href="#" class="about__clients-and-friends-card-link">
                                Пестречинка
                            </a>
                            <div class="about__clients-and-friends-card-dropdown">
                                <div class="about__clients-and-friends-card-dropdown-inner">
                                    <div class="about__clients-and-friends-card-dropdown-text">
                                        <p>
                                            «АГРОСИЛА» – сельскохозяйственный холдинг, занимающий ведущие позиции в
                                            каждом из сегментов деятельности. В состав холдинга входит 25
                                            сельскохозяйственных предприятий, расположенных на территории Республики
                                            Татарстан. Вертикально-интегрированный холдинг включает предприятия по
                                            выращиванию, приему, хранению и обработке зерновых и технических культур,
                                            производству продукции животноводства и птицеводства, производству сахара, а
                                            также реализации готовой продукции и сервисному обслуживанию
                                            сельскохозяйственной техники.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about__clients-and-friends-list-item">
                        <div class="about__clients-and-friends-card">
                            <div class="about__clients-and-friends-card-link">
                                и другие
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="about__awards">
                <div class="about__awards-content">
                    <h2 class="about__awards-heading">
                        Награды:
                    </h2>
                    <ul class="about__awards-list">
                        <li class="about__awards-list-item">
                            WINA, шортлист, 12 здоровый привычек, ЛДЦ Эксперт+

                        </li>
                        <li class="about__awards-list-item">
                            MedMen, бронза, 12 здоровый привычек, ЛДЦ Эксперт+

                        </li>
                    </ul>
                </div>
            </div>
            <div class="about__follow">
                <div class="about__follow-content">
                    Следите за нами в<br>
                    <a href="#">
                        instagram
                    </a>, <a href="#">facebook</a>,
                    <a href="#">
                        pinterest
                    </a>, <a href="#">twitter</a>
                </div>
            </div>

            <div class="blog-page__footer">
                <div class="blog-page__footer-copyright">
                    © 2015 — 2019 Compass Brand
                </div>
                <div class="blog-page__footer-made-by">
                    <a href="#" class="blog-page__footer-made-by-link">
                        Website by
                        <img src="img/markweber-logo-dark.svg" alt="" class="blog-page__footer-made-by-link-image"
                            width="80">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}