{{#extend "layout"}}
{{#content "main"}}

<section class="article" data-midnight="red-bar">
    <div class="container">
        <div class="article__content">
            <a href="portfolio.html" class="case__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
                Вернуться в блог
            </a>

            <h1 class="article__main-heading">
                Инсайт как неосознанная мотивация покупки
            </h1>
            <div class="article__short-info">
                <div class="article__short-info-author">
                    <a href="#">Статьи</a> · 31.10 / Рябова Ирина
                </div>
                <div class="article__short-info-time-for-reading">
                    ~ 2 минуты на чтение
                </div>
            </div>
            <div class="article__text-content">
                <div class="article__leading-text">
                    В России практика работы с инсайтами только набирает обороты, в сравнении с США, где это направление
                    вполне устоялось и завоевало популярность. Еще в 70-е годы американские маркетологи пришли к мнению,
                    что потребителю наскучили громкие слоганы и стандартные призывы купить что-то по скидке.
                </div>

                <img src="img/article/1.jpg" alt="">

                <h3>
                    Почему это так важно?
                </h3>
                <p>
                    Инсайт — это основа бренда. На нее нанизываются остальные составляющие стратегии — позиционирование,
                    миссия, слоган, айдентика.Попасть в нужный инсайт и правильно сформировать дальнейшую гипотезу - это
                    возможность создать устойчивую связь потребителя с брендом и занять определенное место в его
                    сознании. Некоторые компании используют один ключевой инсайт на протяжении десятков лет. И это
                    круто, это большая удача.
                </p>

                <figure>
                    <img src="img/article/2.jpg" alt="">
                    <figcaption>Пример из проекта: Купи Хлеба (рекламная кампания)</figcaption>
                </figure>
                <p>
                    Ежедневно каждый из нас совершает множество действий, о которых даже не задумывается. Мы умываемся,
                    готовим завтрак, слушаем музыку, залипаем в социальных сетях, ездим на автомобилях, покупаем
                    продукты. Большая часть этих привычек связана с брендами. И поэтому компании постоянно ищут способы
                    встроить свои продукты в нашу привычную жизнь.
                </p>

                <div class="article__brand-goal">
                    <div class="article__brand-goal-small-text">
                        Суть бренда
                    </div>
                    <div class="article__brand-goal-large-text">
                        Инсайт – это истинная, глубокая и неосознанная мотивация потребителя купить ваш продукт
                    </div>
                </div>
                <h3>
                    Как искать инсайт?
                </h3>
                <p>
                    <b>
                        1. Изучать
                    </b>
                </p>
                <p>
                    <b>
                        1.1. Изучать людей
                    </b>
                </p>
                <p>
                    Изучать потенциального потребителя интересно. Методы могут быть самыми разными: от наблюдения за
                    моментом потребления, покупки, взаимодействием с продуктом или услугой до изучением отзывов и
                    реакций, в том числе негативных.
                </p>
                <p>
                    Когда у вас уже есть несколько догадок - гипотез, можно поговорить с
                    потенциальными потребителями и спросить их о мотивах их того или иного поведения во взаимодействии с
                    продуктом или участия продукта в их жизни.
                </p>
                <p>
                    <b>
                        1.2. Изучать и пробовать сам продукт
                    </b>
                </p>
                <p>
                    Сложно работать над собранной информацией, не попробовав сам продукт. Если это сок, то выпейте его,
                    если машина — возьмите ее на тест-драйв. Повзаимодействуйте с продуктом, поживите с ним в разных
                    ситуациях. Прислушайтесь к ощущениям, почувствуйте каково пользоваться этим продуктом.

                </p>
                <div class="article__slider js-article-slider">
                    <div class="article__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="article__slider-card">
                                        <img src="img/article/3.jpg" alt="" class="article__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article__slider-card">
                                        <img src="img/article/3.jpg" alt="" class="article__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article__slider-card">
                                        <img src="img/article/3.jpg" alt="" class="article__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article__slider-controls">
                        <div class="article__slider-arrows">
                            <button class="article__slider-arrow article__slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="article__slider-arrow article__slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article__slider-pagination">

                        </div>
                    </div>
                </div>

                <p>
                    Соответствовать - легко идентифицироваться, часто встречаться у потребителей, быть выносливым к
                    критике, быть признанным и быть настоящим, а еще иметь связь с продуктом.

                </p>
                <p>
                    Быть уникальным - не лежащим на поверхности, не встречающимся у конкурентов, уникальным, а не
                    банальным, для самого потребителя.

                </p>
                <p>
                    Быть легко интегрированным: в платформу бренда, коммуникацию бренда.
                </p>
                <div class="article__images">
                    <div class="article__images-row">
                        <div class="article__images-col">
                            <img src="img/article/4.jpg" alt="" class="article__images-image">
                        </div>
                        <div class="article__images-col">
                            <img src="img/article/5.jpg" alt="" class="article__images-image">
                        </div>
                    </div>
                </div>
                <h3>
                    Заключение
                </h3>
                <p>
                    В основе хорошего инсайта - идеи, основанные на реальной жизни потребителей. Для обнаружения такого
                    инсайта нужно изучать все: аудиторию, продукт, конкурентов, рынок, инфополе. Недостаточно просто
                    выявить потребность. Углубитесь в проблемы, конфликты, противоречия — преграды, которые мешают
                    потребителю удовлетворить свою желания. Поймите, что раздражает, вдохновляет, волнует, цепляет
                    целевую аудиторию.

                </p>
                <p>
                    Не бойтесь новых, нестандартных и даже дерзких идей.
                </p>
            </div>
            <div class="article__links">
                <div class="article__links-row">


                    <a href="#" class="article__back-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-left">
                            <use xlink:href="#long-arrow-left"></use>
                        </svg>
                        Вернуться в блог
                    </a>
                    <div class="article__sharing">
                        <h3 class="article__sharing-heading">
                            Поделиться в:

                        </h3>
                        <ul class="article__sharing-list">
                            <li class="article__sharing-list-item">
                                <a href="#" class="article__sharing-link">
                                    facebook
                                </a>
                            </li>
                            <li class="article__sharing-list-item">
                                <a href="#" class="article__sharing-link">
                                    vkontakte
                                </a>
                            </li>
                            <li class="article__sharing-list-item">
                                <a href="#" class="article__sharing-link">
                                    telegram
                                </a>
                            </li>
                            <li class="article__sharing-list-item">
                                <a href="#" class="article__sharing-link">
                                    twitter
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#" class="article__read-also">
                <div class="article__read-also-small-text">
                    Почитать ещё:
                </div>
                <div class="article__read-also-large-text">
                    Проект «12 здоровых привычек» взял бронзу в конкурсе MedMen Healthcare Creative Awards
                    <div class="article__read-also-preview">
                        <img src="img/preview.jpg" alt="" class="article__read-also-preview-image">
                    </div>
                </div>
            </a>
            <div class="blog-page__footer">
                <div class="blog-page__footer-copyright">
                    © 2015 — 2019 Compass Brand
                </div>
                <div class="blog-page__footer-made-by">


                    <a href="#" class="page-footer__madeby page-footer__madeby--dark">
                        Website by
                        <img src="img/markweber-logo-dark.svg" alt="" class="page-footer__madeby-image" width="80">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}