{{#extend "layout"}}
{{#content "main"}}


<section class="blog-page">
    <div class="container">
        <div class="blog-page__content">
            <div class="blog-page__text">
                Блог
            </div>

            <nav class="portfolio-catalog__nav portfolio-catalog__nav--content">
                <a href="#" class="portfolio-catalog__nav-link active">
                    Все статьи
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Интервью
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Новости
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Статьи
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Вакансии
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Мы в СМИ
                </a>

            </nav>
            <div class="blog-page__posts-list js-blog-layout">
                <div class="blog-page__gutter-sizer">

                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">
                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/1.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Есть ли жизнь после кризиса? Готовим почву для нового рывка!
                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>
                            <div class="blog-page__post-card-source">
                                Яндекс.Дзен
                            </div>
                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/2.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Важность анимации в современном дизайне

                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>

                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/3.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Инсайт как неосознанная мотивация покупки

                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>

                            <div class="blog-page__post-card-source">
                                Яндекс.Дзен
                            </div>

                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/4.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Важность анимации в современном дизайне

                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                НОВОСТЬ · 31.10
                            </div>



                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/5.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Инсайт как неосознанная мотивация покупки
                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>
                            <div class="blog-page__post-card-source">
                                Яндекс.Дзен
                            </div>
                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/6.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Есть ли жизнь после кризиса? Готовим почву для нового рывка!
                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>
                            <div class="blog-page__post-card-source">
                                Яндекс.Дзен
                            </div>
                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/2.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Важность анимации в современном дизайне

                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>

                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/1.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Есть ли жизнь после кризиса? Готовим почву для нового рывка!
                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>
                            <div class="blog-page__post-card-source">
                                Яндекс.Дзен
                            </div>
                        </div>
                    </a>
                </div>
                <div class="blog-page__posts-list-item">

                    <a href="#" class="blog-page__post-card">


                        <div class="blog-page__post-card-image-image-container">
                            <img src="img/blog/4.jpg" alt="" class="blog-page__post-card-image">
                        </div>
                        <h4 class="blog-page__post-card-heading">
                            Важность анимации в современном дизайне

                        </h4>
                        <div class="blog-page__post-card-bottom-row">
                            <div class="blog-page__post-card-category">
                                Статья · 31.10
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog-page__suggest">
                <a href="#" class="blog-page__suggest-link">
                    Предложить тему
                    <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
                <div class="blog-page__suggest-text">
                    <p>
                        Задай вопрос, предложи тему для новой статьи или пригласите нас выступитькак спикеров и мы будем
                        интересными
                    </p>
                </div>
            </div>
            <div class="blog-page__footer">
                <div class="blog-page__footer-copyright">
                    © 2015 — 2019 Compass Brand
                </div>
                <div class="blog-page__footer-made-by">


                    <a href="#" class="page-footer__madeby page-footer__madeby--dark">
                        Website by
                        <img src="img/markweber-logo-dark.svg" alt="" class="page-footer__madeby-image" width="80">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}