{{#extend "layout"}}
{{#content "main"}}

<section class="case" data-midnight="light" id="case">
    <div class="container">
        <a href="#" class="case__back-link">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                <use xlink:href="#arrow-right"></use>
            </svg>
            Портфолио
        </a>

        <h1 class="case__main-heading">
            Музей Казанской<br> Иконы
        </h1>
        <ul class="case__tags-list">
            <li class="case__tags-list-item">
                <a href="#" class="case__tag">
                    упаковка
                </a>
                <a href="#" class="case__tag">
                    логотип
                </a>
                <a href="#" class="case__tag">
                    нейминг
                </a>
                <a href="#" class="case__tag">
                    позиционирование
                </a>
            </li>
        </ul>
        <div class="case__nav-links">

            <a href="#" class="case__nav-link active">
                Описание
            </a>
            <a href="#" class="case__nav-link">
                Процесс
            </a>
        </div>


        <div class="case__content">
            <div class="case__content-image-block case__content-image-block--fullwidth-on-mobile">
                <picture>
                    <source srcset="img/case/1-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/case/1.jpg" alt="MDN">
                </picture>
            </div>
            <div class="case__content-text-block">
                <h2>
                    Цель
                </h2>
                <p>
                    Увеличение доли рынка и расширение сбытовых каналов в розничных сетях за пределами Республики
                    Татарстан
                </p>
            </div>

            <div class="case__content-text-block">
                <h3>
                    Проблематика
                </h3>
                <p>
                    Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши "Токмач".
                    Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки — своеобразное мерило
                    мастерства хозяйки. Таким образом, в регионах популярности татарской лапши ее воспринимают как
                    натуральный продукт, изготовленный вручную.

                </p>
                <p>
                    Но за пределами Татарстана или Башкирии яичная лапша воспринимается в неверном амплуа, а именно
                    в качестве вариации продукции быстрого приготовления и не ассоциируется с натуральностью, что и
                    сводит на нет любые усилия в продвижении яичной лапши на широкий российский рынок
                </p>
            </div>

            <div class="case__content-image-block">
                <picture>
                    <source srcset="img/case/2-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/case/2.jpg" alt="MDN">
                </picture>
            </div>
            <div class="case__content-image-block case__content-image-block--fullwidth">



                <picture>
                    <source srcset="img/case/3-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/case/3.jpg" alt="MDN">
                </picture>
            </div>


            <div class="case__content-text-block">
                <h3>
                    Проблематика
                </h3>
                <p>
                    Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши "Токмач".
                    Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки — своеобразное мерило
                    мастерства хозяйки. Таким образом, в регионах популярности татарской лапши ее воспринимают как
                    натуральный продукт, изготовленный вручную.

                </p>

            </div>

            <div class="case__content-image-block case__content-image-block--asymmetrical">
                <picture>
                    <source srcset="img/case/4-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/case/4.jpg" alt="MDN">
                </picture>
                <picture>
                    <source srcset="img/case/5-mobile.jpg" media="(max-width: 640px)">
                    <img src="img/case/5.jpg" alt="MDN">
                </picture>
            </div>

            <div class="case__content-text-block">
                <h3>
                    Проблематика
                </h3>
                <p>
                    Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши "Токмач".
                    Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки — своеобразное мерило
                    мастерства хозяйки. Таким образом, в регионах популярности татарской лапши ее воспринимают как
                    натуральный продукт, изготовленный вручную.

                </p>

            </div>

            <div class="case__content-image-block case__content-image-block--symmetrical">
                <img src="img/case/6.jpg" alt="">
                <img src="img/case/7.jpg" alt="">
            </div>

            <div class="case__content-text-block">
                <h3>
                    Проблематика
                </h3>
                <p>
                    Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши "Токмач".
                    Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки — своеобразное мерило
                    мастерства хозяйки. Таким образом, в регионах популярности татарской лапши ее воспринимают как
                    натуральный продукт, изготовленный вручную.

                </p>

            </div>


            <div
                class="case__content-image-block case__content-image-block--fullwidth case__content-image-block--symmetrical">
                <img src="img/case/8.jpg" alt="">
                <img src="img/case/9.jpg" alt="">
            </div>


            <div class="case__content-slider-block" data-mobile-midnight="dark">
                <div class="case__content-slider js-case-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="case__content-slider-card" data-slider-card>
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/slider/1.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="case__content-slider-card" data-slider-card>
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/slider/2.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="case__content-slider-card" data-slider-card>
                                    <div class="case__content-slider-card-image-container">
                                        <img data-src="img/slider/3.jpg" alt=""
                                            class="case__content-slider-card-image lazyload">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="case__content-slider-nav">
                        <div class="case__content-slider-arrows">
                            <button class="case__content-slider-arrow case__content-slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="case__content-slider-arrow case__content-slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="case__content-slider-pagination">

                        </div>
                    </div>
                </div>
            </div>

            <div class="case__content-brand-power">
                <h2 class="case__content-brand-power-heading">
                    Суть бренда
                </h2>
                <div class="case__content-brand-power-text">
                    <p>
                        Натуральная яичная лапша для<br> Шеф-повара разнообразной домашней кухни
                    </p>
                </div>
            </div>

            <div class="case__content-soundtrack">
                <h2 class="case__content-soundtrack-heading">
                    Саундтрек
                </h2>
                <div class="case__content-soundtrack-text">
                    <p>
                        Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши
                        "Токмач". Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки —
                        своеобразное мерило мастерства хозяйки. Таким образом, в регионах популярности татарской лапши
                        ее воспринимают как натуральный продукт, изготовленный вручную.
                    </p>
                </div>
                <div class="case__content-soundtrack-audio">
                    <audio crossorigin playsinline>
                        <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3"
                            type="audio/mp3">
                        <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.ogg"
                            type="audio/ogg">
                    </audio>
                </div>
            </div>

            <div class="case__content-video">

                <video controls crossorigin playsinline
                    poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                        type="video/mp4" size="576">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                        type="video/mp4" size="720">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4"
                        type="video/mp4" size="1080">
                </video>

            </div>


            <div class="case__content-text-block">
                <h3>
                    Проблематика
                </h3>
                <p>
                    Яичная лапша — традиционный для некоторых регионов ингредиент для татарского супа-лапши "Токмач".
                    Лапша для такого супа, как правило, изготовлена вручную и тонкость ее нарезки — своеобразное мерило
                    мастерства хозяйки. Таким образом, в регионах популярности татарской лапши ее воспринимают как
                    натуральный продукт, изготовленный вручную.
                </p>
                <p>
                    Но за пределами Татарстана или Башкирии яичная лапша воспринимается в неверном амплуа, а именно
                    в качестве вариации продукции быстрого приготовления и не ассоциируется с натуральностью, что и
                    сводит на нет любые усилия в продвижении яичной лапши на широкий российский рынок
                </p>

            </div>


            <div class="case__content-quote" data-midnight="dark" data-mobile-midnight="dark">
                <div class="case__content-quote-text">
                    Мы создаем сильные бренды и эффективные коммуникации на стыке инсайтов целевой аудитории и выгодных
                    сторон
                    продукта...
                </div>
                <div class="case__content-quote-bottom-row">
                    <a href="#" class="case__content-quote-detail-link">
                        Смотреть полностью
                        <svg width="14" height="14" aria-hidden="true" class="icon-link">
                            <use xlink:href="#link"></use>
                        </svg>
                    </a>


                    <div class="case__content-quote-author">
                        <div class="case__content-quote-author-image-container">
                            <img src="img/sasha.jpg" alt="" class="case__content-quote-author-image">
                        </div>
                        <div class="case__content-quote-content">
                            <div class="case__content-quote-name">
                                Александра Ромашка
                            </div>
                            <div class="case__content-quote-role">
                                Менеджер Студии Марк Вебер
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="credits" data-midnight="light" data-mobile-midnight="light">
    <div class="container">
        <div class="credits__row">
            <div class="credits__left-col">
                <ul class="credits__names-list">
                    <li class="credits__names-list-item">
                        <div class="credits__names-card">
                            <div class="credits__names-card-role">
                                Руководитель проектов
                            </div>
                            <h5 class="credits__names-card-title">
                                Вера Семёнова
                            </h5>
                        </div>
                    </li>
                    <li class="credits__names-list-item">
                        <div class="credits__names-card">
                            <div class="credits__names-card-role">
                                Дизайнер
                            </div>
                            <h5 class="credits__names-card-title">
                                Анастасия Баеш
                            </h5>
                        </div>
                    </li>
                    <li class="credits__names-list-item">
                        <div class="credits__names-card">
                            <div class="credits__names-card-role">
                                Арт-директор
                            </div>
                            <h5 class="credits__names-card-title">
                                Вадим Бакалдин
                            </h5>
                        </div>
                    </li>
                    <li class="credits__names-list-item">
                        <div class="credits__names-card">
                            <div class="credits__names-card-role">
                                Дизайнер
                            </div>
                            <h5 class="credits__names-card-title">
                                Анастасия Баеш
                            </h5>
                        </div>
                    </li>
                </ul>
                <div class="credits__awards">
                    <h3 class="credits__awards-heading">
                        Награды
                    </h3>
                    <ul class="credits__awards-list">
                        <li class="credits__awards-list-item">
                            <a href="#" class="credits__awards-card">
                                <h4 class="credits__awards-card-title">
                                    Behance
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="credits__awards-card-role">
                                    Interaction featuring
                                </div>
                            </a>
                        </li>
                        <li class="credits__awards-list-item">
                            <a href="#" class="credits__awards-card">
                                <h4 class="credits__awards-card-title">
                                    Behance
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="credits__awards-card-role">
                                    Graphic Design
                                </div>
                            </a>
                        </li>
                        <li class="credits__awards-list-item">
                            <a href="#" class="credits__awards-card">
                                <h4 class="credits__awards-card-title">
                                    CSSDA
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="credits__awards-card-role">
                                    Special kudos

                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="credits__right-col">
                <div class="credits__short-info-items">


                    <div class="credits__short-info">
                        <h5 class="credits__short-info-key">
                            Заказчик
                        </h5>
                        <div class="credits__short-info-key-value">
                            Vilka
                        </div>
                    </div>
                    <div class="credits__short-info">
                        <h5 class="credits__short-info-key">
                            Срок выполнения
                        </h5>
                        <div class="credits__short-info-key-value">
                            55 дней
                        </div>
                    </div>
                    <div class="credits__short-info">
                        <h5 class="credits__short-info-key">
                            Дата сдачи
                        </h5>
                        <div class="credits__short-info-key-value">
                            26 ноября 2019
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}