{{#extend "layout"}}
{{#content "main"}}

<section class="contact-us">
    <div class="container">
        <div class="contact-us__content">

            <div class="contact-us__top-text">
                Контакты
            </div>
            <div class="contact-us__top-row">
                <div class="contact-us__left-col">
                    <div class="contact-us__help-text">
                        Мы с радостью ответим<br> на ваши вопросы
                    </div>
                </div>
                <div class="contact-us__right-col">
                    <h1 class="contact-us__main-heading">
                        Связаться<br> с нами
                    </h1>
                </div>
            </div>


            <div class="contact-us__middle-row">
                <div class="contact-us__left-col">
                    <div class="contact-us__info">
                        <a href="tel:+78432456140" class="contact-us__phone-link">+7 843 245-61-40</a>
                        <a href="mailto:info@compassbrand.ru" class="contact-us__email-link">info@compassbrand.ru</a>
                        <div class="contact-us__address">
                            <p>
                                Ул. Салимжанова, д. 2В, оф. 201,<br> Казань, 420107
                            </p>
                            <a href="#">
                                Смотреть на карте
                            </a>
                        </div>
                    </div>
                    <div class="contact-us__bottom-info">
                        <div class="contact-us__copyright">
                            © 2019 Compass Brand
                        </div>
                        <a href="#" class="contact-us__madeby">
                            Website by
                            <img src="img/markweber-logo-dark.svg" alt="" class="page-footer__madeby-image" width="80">
                        </a>
                    </div>
                </div>
                <div class="contact-us__right-col">
                    <form action="/" method="POST" class="contact-us__form" data-need-validation=""
                        data-mobile-midnight="dark" id="contact-us-form">
                        <div class="contact-us__form-layers">
                            <div class="contact-us__form-standard-layer active">
                                <div class="contact-us__subject">
                                    <h3 class="contact-us__form-heading">
                                        Тема обращения
                                    </h3>
                                    <div class="contact-us__subject-checkboxes">
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Брендинг"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Брендинг
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Исследования"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Исследования
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Упаковка"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Упаковка
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Логотип"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Логотип
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Фирменный стиль"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Фирменный стиль
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Брендбук"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Брендбук
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Рекламная кампания"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Рекламная кампания
                                            </span>
                                        </label>
                                        <label class="contact-us__subject-checkbox">
                                            <input type="checkbox" name="subject" value="Экспресс"
                                                class="contact-us__subject-checkbox-input">
                                            <span class="contact-us__subject-checkbox-text">
                                                Экспресс
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="contact-us__form-info">
                                    <div class="contact-us__form-row">
                                        <div class="contact-us__form-row-left-col">
                                            <label for="yourname" class="contact-us__form-label">
                                                Имя
                                            </label>
                                        </div>
                                        <div class="contact-us__form-row-right-col">
                                            <div class="contact-us__form-input-wrapper">
                                                <input type="text" name="yourname" id="yourname"
                                                    class="contact-us__form-input" autocomplete="new-password" required>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="contact-us__form-row">
                                        <div class="contact-us__form-row-left-col">
                                            <label for="yourphone" class="contact-us__form-label">
                                                Телефон
                                            </label>
                                        </div>
                                        <div class="contact-us__form-row-right-col">
                                            <div class="contact-us__form-input-wrapper">
                                                <input type="tel" name="yourphone" id="yourphone"
                                                    class="contact-us__form-input js-phone-input"
                                                    autocomplete="new-password" required data-parsley-phone>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="contact-us__form-comment">
                                        <div class="contact-us__form-textarea-row">
                                            <div class="contact-us__form-row-left-col">
                                                <label for="comment" class="contact-us__form-label">
                                                    Комментарий
                                                </label>
                                            </div>
                                            <div class="contact-us__form-row-right-col">

                                            </div>
                                        </div>
                                        <div class="contact-us__form-textarea-row">
                                            <div class="contact-us__form-row-left-col">

                                            </div>
                                            <div class="contact-us__form-row-right-col">
                                                <div class="contact-us__form-textarea-wrapper">
                                                    <textarea name="comment" class="contact-us__form-textarea"
                                                        id="comment" autocomplete="new-password"></textarea>
                                                </div>
                                                <div class="contact-us__form-file-upload js-file-upload">
                                                    <input type="file" name="yourfile" id="yourfile"
                                                        class="contact-us__form-file-upload-input">


                                                    <label for="yourfile" class="contact-us__form-file-upload-label">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-file">
                                                            <use xlink:href="#file"></use>
                                                        </svg>
                                                        <span class="contact-us__form-file-upload-label-text">
                                                            Прикрепить файл
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="contact-us__form-submit-row">
                                    <div class="contact-us__form-policy">
                                        Нажимая кнопку «Отправить сообщение», вы даёте согласие на обработку <a
                                            href="#">
                                            персональных данных
                                        </a>
                                    </div>
                                    <button class="contact-us__form-submit-btn">
                                        Отправить
                                    </button>
                                </div>
                            </div>

                            <div class="contact-us__form-success-layer">
                                <h3 class="contact-us__form-success-heading">
                                    Спасибо, что доверяете нам!

                                    <img src="img/contact-us-arrow.svg" alt=""
                                        class="contact-us__form-success-heading-image">
                                </h3>
                                <div class="contact-us__form-success-text">
                                    <p>
                                        Мы свяжемся с вами в ближайшее время
                                    </p>
                                </div>
                                <a href="#" class="contact-us__form-success-link">
                                    Написать еще
                                </a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>

        </div>

    </div>
</section>

{{/content}}
{{/extend}}