{{#extend "layout"}}
{{#content "main"}}

<section class="error-page" data-midnight="light">
    <div class="container">
        <div class="error-page__content">
            <div class="error-page__intro-text">
                Экпресс-дизайн
            </div>
            <h1 class="error-page__heading">
                Страница<br> не найдена
            </h1>
            <a href="#" class="error-page__back-link">
                На главную
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}