{{#extend "layout"}}
{{#content "main"}}

<section class="express-intro">
    <div class="express-intro__main js-black-cursor" data-midnight="red">
        <div class="container">
            <div class="express-intro__content">
                <div class="express-intro__top-text">
                    Экпресс-дизайн
                </div>
                <h1 class="express-intro__heading">
                    Мы Компасс.<br> И мы умеем быстро <br>находить нужное<br>
                    направление!
                    <img src="img/express-arrow.svg" width="30" alt="" class="express-intro__heading-arrow">
                </h1>
                <div class="express-intro__subheading-text">
                    Наша услуга экспресс-дизайн для быстрых и точных решений

                </div>
                <div class="express-intro__text">
                    <p>
                        <em>
                            Экспресс-дизайн
                        </em>
                        Услуга, которая решает задачу единственно верным решением, оставляя издержки позади. С услугой
                        экспресс-дизайн вы становитесь серфером, который с первого раза поймал нужную волну
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="express-intro__image-container">
        <img data-src="img/express-image.jpg" alt="" class="express-intro__image lazyload">
    </div>
</section>
<section class="express-stages" data-midnight="light">
    <div class="container">
        <div class="express-stages__content">
            <h2 class="express-stages__heading">
                Этапы работы
            </h2>
            <ol class="express-stages__list">
                <li class="express-stages__list-item">
                    <div class="express-stages__card">
                        <div class="express-stages__card-left-col">
                            <div class="express-stages__card-number">

                            </div>
                            <h4 class="express-stages__card-title">
                                Заключение договора
                            </h4>
                        </div>
                        <div class="express-stages__card-right-col">
                            <div class="express-stages__card-text">
                                <p>
                                    Именно с этого важного этапа начинается работа по экспресс-дизайну. В договоре
                                    оговариваются сроки работ, их стоимость, содержание работы и количество правок.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="express-stages__list-item">
                    <div class="express-stages__card">
                        <div class="express-stages__card-left-col">
                            <div class="express-stages__card-number">

                            </div>
                            <h4 class="express-stages__card-title">
                                Брифинг
                            </h4>
                        </div>
                        <div class="express-stages__card-right-col">
                            <div class="express-stages__card-text">
                                <p>
                                    Так как экспресс-дизайн не предполагает исследований со стороны агентства и
                                    разработки платформы бренда, большая часть информации для разработки дизайна
                                    находится на стороне заказчика. Наша же задача максимально погрузиться в продукт,
                                    его преимущества, ценности и пр., а также требования и ограничения.
                                </p>
                                <p>
                                    На этапе брифинга происходит погружение в задачу, и предполагает в том числе выбор
                                    направления дизайна на основе референсов и мудбордов. Это увлекательный процесс,
                                    когда и для заказчика открываются новые горизонты восприятия своего бренда.
                                    Непосредственно к дизайну мы приступим после полного понимания ожиданий заказчика и
                                    задачи в целом.
                                </p>
                                <p>
                                    Предпочитаемый нами формат такого брифинга – workshop.
                                </p>
                            </div>
                            <div class="express-stages__duration">
                                Длительность — от 3 рабочих дней
                            </div>
                        </div>
                    </div>
                </li>
                <li class="express-stages__list-item">
                    <div class="express-stages__card">
                        <div class="express-stages__card-left-col">
                            <div class="express-stages__card-number">

                            </div>
                            <h4 class="express-stages__card-title">
                                Разработка концепции
                            </h4>
                        </div>
                        <div class="express-stages__card-right-col">
                            <div class="express-stages__card-text">
                                <p>
                                    Арт-команда агентства приступает к разработке логотипа / фирстиля / концепции
                                    упаковки. В рамках экспресс-дизайна мы предоставляем один вариант концепции, но у
                                    заказчика всегда есть возможность внести правки, но не более одного раза.
                                </p>

                            </div>
                            <div class="express-stages__duration">
                                Срок разработки — 14 рабочих дней
                            </div>
                        </div>
                    </div>
                </li>
                <li class="express-stages__list-item">
                    <div class="express-stages__card">
                        <div class="express-stages__card-left-col">
                            <div class="express-stages__card-number">

                            </div>
                            <h4 class="express-stages__card-title">
                                Приемка работ
                            </h4>
                        </div>
                        <div class="express-stages__card-right-col">
                            <div class="express-stages__card-text">
                                <p>
                                    После принятия заказчиком дизайна, команда дорабатывает макеты в технической части
                                    (под печать и/или размещение) и передает в оговоренном в договоре формате.
                                    Одновременно подписываются закрывающие документы.
                                </p>

                            </div>
                            <div class="express-stages__duration">
                                Срок разработки – 14 рабочих дней.
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>

<section class="express-tariffs" data-midnight="light">
    <div class="container">
        <div class="express-tariffs__content">
            <h2 class="express-tariffs__heading">
                Мы обо всем позаботились.<br>
                Остается выбрать один из готовых пакетов
            </h2>

            <ol class="express-tariffs__list">
                <li class="express-tariffs__list-item">
                    <a href="#" class="express-tariffs__card">
                        <h4 class="express-tariffs__card-title">
                            Стартовый
                        </h4>

                        <div class="express-tariffs__card-price">
                            120 000 ₽
                        </div>
                        <div class="express-tariffs__card-content">
                            <ul class="express-tariffs__card-features-list">
                                <li class="express-tariffs__card-features-list-item">
                                    Одна версия логотипа
                                </li>
                                <li class="express-tariffs__card-features-list-item">
                                    Руководство по фирменному стилю
                                </li>
                            </ul>
                            <ul class="express-tariffs__card-items-list">
                                <li class="express-tariffs__card-items-list-item">
                                    Логобук
                                </li>
                                <li class="express-tariffs__card-items-list-item">
                                    Фирменные цвета
                                </li>
                                <li class="express-tariffs__card-items-list-item">
                                    Фирменные шрифты
                                </li>
                                <li class="express-tariffs__card-items-list-item">
                                    Фирменный элемент
                                </li>
                                <li class="express-tariffs__card-items-list-item">
                                    3 стандартных носителя на выбор
                                </li>
                            </ul>
                        </div>

                        <div class="express-tariffs__card-bottom-row">
                            <div class="express-tariffs__card-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-bold-plus">
                                    <use xlink:href="#bold-plus"></use>
                                </svg>
                                Выбрать
                            </div>
                            <div class="express-tariffs__card-number">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="express-tariffs__list-item">
                    <a href="#" class="express-tariffs__card">
                        <h4 class="express-tariffs__card-title">
                            Упаковка
                        </h4>
                        <div class="express-tariffs__card-price">
                            150 000 ₽
                        </div>
                        <div class="express-tariffs__card-content">
                            <ul class="express-tariffs__card-features-list">
                                <li class="express-tariffs__card-features-list-item">
                                    Одна версия логотипа
                                </li>
                                <li class="express-tariffs__card-features-list-item">
                                    Концепция дизайна упаковки
                                </li>
                            </ul>
                        </div>
                        <div class="express-tariffs__card-bottom-row">
                            <div class="express-tariffs__card-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-bold-plus">
                                    <use xlink:href="#bold-plus"></use>
                                </svg>
                                Выбрать
                            </div>
                            <div class="express-tariffs__card-number">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="express-tariffs__list-item">
                    <a href="#" class="express-tariffs__card express-tariffs__card--special">
                        <h4 class="express-tariffs__card-title">
                            Опция для тех кто не любит рамки
                        </h4>
                        <div class="express-tariffs__card-content">
                            <div class="express-tariffs__card-special-text">
                                Вместе с командой COMPASS можно кастомизировать и создать свой собственный пакет, для
                                этого
                                вам просто надо связаться с нами удобным для вас способом
                            </div>
                        </div>
                        <div class="express-tariffs__card-bottom-row">
                            <div class="express-tariffs__card-btn">
                                <svg width="14" height="14" aria-hidden="true" class="icon-bold-plus">
                                    <use xlink:href="#bold-plus"></use>
                                </svg>
                                Выбрать
                            </div>
                            <div class="express-tariffs__card-number">

                            </div>
                        </div>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</section>


<section class="express-examples" data-midnight="light">
    <div class="container">
        <div class="express-examples__content">
            <h2 class="express-examples__heading">
                Примеры экспресс-дизайна
            </h2>

            <ul class="portfolio-catalog__list">
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/4.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/5.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}