{{#extend "layout"}}
{{#content "main"}}

<section class="intro" id="intro">
    <div class="intro__arrows" id="arrows">

    </div>
    <div class="container">
        <div class="intro__content">
            <p class="intro__agency-text">
                Брендинг и коммуникации
            </p>
            <div class="intro__nav">
                <a href="#" class="intro__nav-link">
                    Портфолио
                </a>
                <a href="#" class="intro__nav-link">
                    Услуги
                </a>
                <a href="#" class="intro__nav-link">
                    Об агенстве
                </a>
            </div>
            <h1 class="intro__main-heading">
                Мы Компасс.<br> И мы умеем быстро находить нужное
                направление!
            </h1>
            <a href="#" class="intro__association">
                <img src="img/association.svg" alt="" class="intro-association-logo" width="122"
                    onload="SVGInject(this)">
            </a>

        </div>
    </div>
</section>
<section class="portfolio-intro" id="portfolio" data-mobile-midnight="dark">
    <div class="container">
        <div class="portfolio-intro__content">
            <div class="portfolio-intro__info">

                <div class="portfolio-intro__text">
                    <p>
                        Перед вами ваш рынок – ландшафт, в котором вам предстоит увлекательное путешествие к вашей цели.
                        Вы берете в руки COMPASS и начинаете путь.
                    </p>
                    <p>
                        Вы уверены в успехе, потому что COMPASS не заблуждается. Механизм COMPASS надежен, потому что
                        каждая деталь на своем месте и работает слаженно – как команда COMPASS.
                    </p>
                    <p>
                        Достигая вершины, перед вами раскрываются новые горизонты и вы видите новые возможности, ставите
                        новую цель, берете в руки COMPASS, отправляясь в новое путешествие. Ведь с COMPASS нет границ,
                        и мир открыт вам.
                    </p>
                </div>
                <a href="#" class="portfolio-intro__link">
                    Об агенстве
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="portfolio" id="albums" data-midnight="dark">
    <div class="container">
        <div class="portfolio__albums">
            <div class="portfolio__albums-backgrounds-wrapper">
                {{!-- <div class="portfolio__albums-backgrounds-wrapper-test-block">

                </div> --}}

                <div class="portfolio__albums-backgrounds">
                    <ul class="portfolio__albums-background-list">
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/buy-bread.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/chicken.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/bulgarpivo.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/vilka.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/cheese-union.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                    </ul>
                </div>
            </div>
            <h3 class="portfolio__albums-heading">
                Портфолио
            </h3>

            <ul class="portfolio__albums-list">
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Купихлеба
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Пестречинка
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Разработка нового<br> позиционирования и дизайн<br> упаковок
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Булгарпиво
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Дизайн упаковки основной линейки пива
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Villka
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Сырсовет
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Создание бренда сыров
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="portfolio__more-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                    <use xlink:href="#plus"></use>
                </svg>
                Смотреть еще
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>


<section class="our-clients" id="our-clients" data-midnight="light">
    <div class="container">
        <div class="our-clients__content">
            <h2 class="our-clients__heading">
                Наши клиенты
            </h2>
            <div class="our-clients__row">
                <div class="our-clients__left-col ">



                    <div class="our-clients__slider js-clients-slider">
                        <div class="our-clients__slider-progressbar">

                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="our-clients__card">
                                        <div class="our-clients__card-quote">
                                            Мы создаем сильные бренды и эффективные коммуникации на стыке инсайтов
                                            целевой аудитории и выгодных сторон продукта
                                        </div>
                                        <div class="our-clients__card-quote-author">
                                            <div class="our-clients__card-quote-author-image-container">
                                                <img src="img/sasha.jpg" alt=""
                                                    class="our-clients__card-quote-author-image">
                                            </div>
                                            <div class="our-clients__card-quote-author-content">
                                                <div class="our-clients__card-quote-author-name">
                                                    Александра Ромашка
                                                </div>
                                                <div class="our-clients__card-quote-author-role">
                                                    Менеджер Студии Марк Вебер
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-clients__card">
                                        <div class="our-clients__card-quote">
                                            Вторая цитата
                                        </div>
                                        <div class="our-clients__card-quote-author">
                                            <div class="our-clients__card-quote-author-image-container">
                                                <img src="img/sasha.jpg" alt=""
                                                    class="our-clients__card-quote-author-image">
                                            </div>
                                            <div class="our-clients__card-quote-author-content">
                                                <div class="our-clients__card-quote-author-name">
                                                    Александра Ромашка
                                                </div>
                                                <div class="our-clients__card-quote-author-role">
                                                    Менеджер Студии Марк Вебер
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="our-clients__slider-navigation">
                            <button class="our-clients__slider-arrow our-clients__slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="our-clients__slider-arrow our-clients__slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="our-clients__right-col js-our-clients-logos">
                    <div class="our-clients__logos">


                        <ul class="our-clients__logos-list our-clients__logos-list--hidden">
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/ozon.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/comos.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/irbis.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/tele2.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/ozon.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/comos.png" alt="">
                            </li>
                        </ul>
                        <ul class="our-clients__logos-list">
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/ozon.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/comos.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/irbis.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/tele2.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/ozon.png" alt="">
                            </li>
                            <li class="our-clients__logos-list-item">
                                <img src="img/logos/comos.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="blog js-blog-filtering" data-midnight="light" id="blog">
    <div class="container">
        <div class="blog__content">
            <h2 class="blog__section-heading">
                Сегодня в блоге
            </h2>
            <div class="blog__row js-blog-main-content">
                <div class="blog__left-col">
                    <div class="blog__posts">
                        <div class="blog__posts-left-col">
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/1.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>
                                    <span class="blog__post-card-info-item">
                                        Яндекс.Дзен
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="interview">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/3.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани

                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="news">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/4.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Новость · 31.10
                                    </span>

                                </div>
                            </a>
                            
                        </div>
                        <div class="blog__posts-right-col">
                            <a href="#" class="blog__post-card" data-category="mass-media">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/2.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки

                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/4.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>
                                    <span class="blog__post-card-info-item">
                                        vc.ru
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/5.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>
                           
                        </div>
                    </div>
                </div>
                <div class="blog__right-col js-blog-sidebar">
                    <div class="blog__sidebar-inner js-blog-sidebar-inner">
                        <div class="blog__menu">

                            <nav class="blog__menu-nav">
                                <a href="#" class="blog__menu-nav-link active" data-category="all">
                                    Все категории
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="interview">
                                    Интервью
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="news">
                                    Новости
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="articles">
                                    Статьи
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="mass-media">
                                    СМИ о нас
                                </a>
                            </nav>
                            <a href="#" class="blog__menu-nav-details-link">
                                Перейти в блог
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}