{{#extend "layout"}}
{{#content "main"}}

<section class="intro" id="intro">

    <div class="container">
        <div class="intro__content">
            <p class="intro__agency-text">
                Брендинг и коммуникации
            </p>
            <div class="intro__nav">
                <a href="portfolio.html" class="intro__nav-link">
                    Портфолио
                </a>
                <a href="#" class="intro__nav-link">
                    Услуги
                </a>
                <a href="#" class="intro__nav-link">
                    Об агенстве
                </a>
            </div>
            <h1 class="intro__main-heading">
                Мы Компасс.<br> И мы умеем быстро находить нужное
                направление!

                <img src="img/main-heading-arrow.svg" width="30" alt="" class="intro__main-heading-arrow">
            </h1>
            <a href="#" class="intro__association">
             


                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.65 53.46" class="intro-association-logo">
                  
                    <path fill-rule="evenodd"
                        d="M10.09 0A10 10 0 110 10 10.06 10.06 0 0110.09 0zM6.61 5.13v1.94h4.86v1.61H9.3c-2.18 0-3.52 1.31-3.52 3.15S7.12 15 9.3 15h4.46V5.13zM11.47 13v-2.38h-2c-.86 0-1.38.47-1.38 1.21S8.6 13 9.46 13zM10.09 2.09a7.93 7.93 0 108 7.93 8 8 0 00-8-7.93zM60.71 45.74h1.78v4.43h.06l3.1-4.43h1.6v7.62h-1.78v-4.45l-3.14 4.45h-1.62zM70.38 41.44v-7.63h1.78v3.06h3.18v-3.06h1.77v7.63h-1.77v-3.07h-3.18v3.07zM53.11 33.81h-2.3l-2.19 5h-.09l-2.2-5H44v7.63h1.78v-4.68h.06l2 4.68h1.48l2-4.68h.07v4.68h1.77zM88.74 21.9v1.49h-3.4v6.13h-1.85V21.9zM57.62 30.94v-2.86h.61c.83-.57.92-2.25.92-3.16v-3H65v6.18h1v2.86h-1.78v-1.44h-4.83v1.42zm2.73-2.86h2.88v-4.69h-2.3v1.53a6.73 6.73 0 01-.58 3.16zM67.35 16.13h1V19h-1.78v-1.43h-5.89V10h1.78v6.12h3.12V10h1.77zM30 53.36h-1.73v-7.62h3.53a2.56 2.56 0 110 5.11H30zm0-6.12v2.11h1.64a1.06 1.06 0 100-2.11zM51.29 48.5h-1.8a1.83 1.83 0 00-1.7-1.34c-1.32 0-2 1.07-2 2.39s.68 2.38 2 2.38a1.83 1.83 0 001.7-1.34h1.8a3.29 3.29 0 01-3.53 2.87A3.64 3.64 0 0144 49.55a3.64 3.64 0 013.74-3.92 3.3 3.3 0 013.55 2.87zM59.49 48.5H57.7a1.83 1.83 0 00-1.7-1.34c-1.31 0-2 1.07-2 2.39s.68 2.38 2 2.38a1.83 1.83 0 001.71-1.34h1.79a3.3 3.3 0 01-3.5 2.87 3.64 3.64 0 01-3.73-3.91A3.64 3.64 0 0156 45.63a3.3 3.3 0 013.49 2.87zM68.87 45.74h1.78v4.43l3.11-4.43h1.6v7.62h-1.73v-4.45l-3.13 4.45h-1.63zM39 33.71a3.92 3.92 0 103.89 3.91A3.77 3.77 0 0039 33.71zm-2.12 3.91a2.13 2.13 0 114.24 0 2.14 2.14 0 11-4.24 0z" />
                    <path fill-rule="evenodd"
                        d="M30 33.81h-1.73v7.63H30v-3.07h1l2 3.07h2l-2.53-3.82L35 33.81h-2l-2 3.06h-1zM61.39 33.81v7.63h-1.77v-6.13h-3.13v6.13h-1.77v-7.63zM63.15 33.81h5.61v7.63h-3.45a2.45 2.45 0 110-4.87H67v-1.26h-3.85zM67 39.94v-1.88h-1.57a.94.94 0 00-1.06.94.93.93 0 001.06.94zM78.73 33.81h1.77v4.44h.07l3.1-4.44h1.59v7.63h-1.77V37l-3.19 4.44h-1.57zM86.88 33.81h1.77v4.44h.07l3.1-4.44h1.6v7.63h-1.78V37l-3.14 4.44h-1.62zM33.88 21.9h-5.61v7.62h3.45a2.45 2.45 0 100-4.88H30v-1.25h3.84zM30 28v-1.86h1.6a.95.95 0 110 1.88zM37.44 29.52h-1.78V21.9h3.53a2.56 2.56 0 110 5.11h-1.75zm0-6.13v2.12h1.63a1.06 1.06 0 100-2.12zM42.93 29.52V21.9h5.61v1.49h-3.82V25h3.54v1.5h-3.54V28h3.82v1.5zM49.88 29.52V21.9h1.78V25h3.19v-3.1h1.77v7.62h-1.77v-3.06h-3.19v3.06zM67 21.9h1.77v4.43h.07l3.09-4.43h1.6v7.62h-1.79v-4.44l-3.14 4.44H67zM75.14 29.52V21.9h1.77V25h3.18v-3.1h1.78v7.62h-1.78v-3.06h-3.18v3.06zM97.88 21.9h3.43c1.81 0 2.48.9 2.48 2a1.84 1.84 0 01-.89 1.69 1.84 1.84 0 011.19 1.85c0 1.12-.67 2.06-2.48 2.06h-3.73zm1.78 1.42V25H101c.75 0 1-.43 1-.83s-.25-.82-1-.82zm0 3.08v1.69h1.66c.75 0 1-.44 1-.85s-.25-.84-1-.84zM107 21.9h-1.77v7.62h3.52a2.57 2.57 0 100-5.12H107zm0 6.1v-2.1h1.64a1.06 1.06 0 110 2.12zM112.36 29.52h1.78V21.9h-1.78zM115.37 21.9h1.9l1.7 2.78h.03l1.71-2.78h1.9l-2.33 3.81 2.33 3.81h-1.9L119 26.74l-1.7 2.78h-1.9l2.34-3.81zM28.67 10h5.61v7.62h-3.45a2.45 2.45 0 110-4.88h1.68v-1.3h-3.84zm3.84 6.12v-1.93H31a.95.95 0 100 1.88zM42.68 12.71h-1.79a1.83 1.83 0 00-1.7-1.34c-1.32 0-2 1.07-2 2.39s.68 2.38 2 2.38a1.83 1.83 0 001.7-1.34h1.79a3.28 3.28 0 01-3.52 2.86 3.63 3.63 0 01-3.74-3.9 3.64 3.64 0 013.74-3.92 3.29 3.29 0 013.52 2.87zM50.9 12.71h-1.79a1.83 1.83 0 00-1.71-1.34c-1.31 0-2 1.07-2 2.39s.68 2.38 2 2.38a1.83 1.83 0 001.71-1.34h1.79a3.29 3.29 0 01-3.53 2.86 3.63 3.63 0 01-3.73-3.9 3.64 3.64 0 013.73-3.92 3.3 3.3 0 013.53 2.87zM69.29 10h1.77v4.43h.07l3.1-4.43h1.6v7.62h-1.78v-4.5l-3.14 4.45h-1.62zM77.69 10h5.61v7.62h-3.44a2.46 2.46 0 110-4.88h1.67v-1.3h-3.84zm3.84 6.12v-1.93H80c-.67 0-1.08.37-1.08.94s.41.94 1.08.94zM91.59 16.13h1V19H90.8v-1.43h-5.89V10h1.77v6.12h3.13V10h1.78zM93.52 10h1.78v4.43h.06l3.1-4.43h1.59v7.62h-1.77v-4.5l-3.18 4.45h-1.58zM105.72 17.57h1.78V10h-3.45a2.46 2.46 0 00-2.73 2.46 2.34 2.34 0 001.73 2.33l-1.89 2.83h2l1.78-2.69h.79zm0-6.2v2.08h-1.55a1 1 0 110-2.08zM91 31.77h1.2c0 1.1-1 1.56-2 1.56s-2-.46-2-1.56h1.19c0 .45.35.65.76.65s.85-.2.85-.65zM39.18 45.63a3.92 3.92 0 103.89 3.92 3.77 3.77 0 00-3.89-3.92zm-2.11 3.92a2.13 2.13 0 114.23 0 2.13 2.13 0 11-4.23 0zM92.82 21.79a3.77 3.77 0 00-3.89 3.92 3.89 3.89 0 107.78 0 3.77 3.77 0 00-3.89-3.92zm-2.12 3.92a2.14 2.14 0 114.24 0 2.13 2.13 0 11-4.24 0zM55.65 9.84a3.77 3.77 0 00-3.89 3.92 3.89 3.89 0 107.78 0 3.77 3.77 0 00-3.89-3.92zm-2.11 3.92a2.13 2.13 0 114.22 0 2.13 2.13 0 11-4.22 0z" />
                </svg>
            </a>

        </div>
    </div>
</section>
<section class="portfolio-intro" id="portfolio" data-mobile-midnight="dark">
    <div class="container">
        <div class="portfolio-intro__content">
            <div class="portfolio-intro__row">
                <div class="portfolio-intro__left-col">
                    <div class="portfolio-intro__large-text">
                        <p>
                            Перед вами ваш рынок – ландшафт, в котором вам предстоит увлекательное путешествие к вашей
                            цели. Вы берете в руки COMPASS и начинаете путь.
                        </p>
                    </div>
                </div>
                <div class="portfolio-intro__right-col">
                    <div class="portfolio-intro__small-text">

                        <p>
                            Вы уверены в успехе, потому что COMPASS не заблуждается. Механизм COMPASS надежен, потому
                            что
                            каждая деталь на своем месте и работает слаженно – как команда COMPASS.
                        </p>
                        <p>
                            Достигая вершины, перед вами раскрываются новые горизонты и вы видите новые возможности,
                            ставите
                            новую цель, берете в руки COMPASS, отправляясь в новое путешествие. Ведь с COMPASS нет
                            границ,
                            и мир открыт вам.
                        </p>
                    </div>
                    <a href="#" class="portfolio-intro__link">
                        Об агенстве
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="portfolio" id="albums" data-midnight="dark">
    <div class="container">
        <div class="portfolio__albums">
            <div class="portfolio__albums-backgrounds-wrapper">
                {{!-- <div class="portfolio__albums-backgrounds-wrapper-test-block">

                </div> --}}

                <div class="portfolio__albums-backgrounds">
                    <ul class="portfolio__albums-background-list">
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/buy-bread.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/chicken.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/bulgarpivo.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="https://static.tildacdn.com/tild3939-6166-4338-b861-336436633462/--1-min.jpg"
                                alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/vilka.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                        <li class="portfolio__albums-background-list-item">
                            <img src="img/cheese-union.jpg" alt="" class="portfolio__albums-background-image">
                        </li>
                    </ul>
                </div>
            </div>
            <h3 class="portfolio__albums-heading">
                Портфолио
            </h3>

            <ul class="portfolio__albums-list">
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Купихлеба
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Пестречинка
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Разработка нового<br> позиционирования и дизайн<br> упаковок
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Булгарпиво
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Дизайн упаковки основной линейки пива
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Музей Казанской Иконы
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>

                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Villka
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio__albums-list-item">
                    <a href="#" class="portfolio__albums-card">
                        <h4 class="portfolio__albums-card-title">
                            Сырсовет
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="portfolio__albums-card-brief">
                            Создание бренда сыров
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="portfolio__more-link">

                Смотреть еще
                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>


<section class="our-clients" id="our-clients" data-midnight="light">
    <div class="container">
        <div class="our-clients__content">
            <h2 class="our-clients__heading">
                Наши клиенты
            </h2>
            <div class="our-clients__row js-clients-slider">
                <div class="our-clients__left-col ">
                    <div class="our-clients__slider">
                        <div class="our-clients__slider-progressbar">

                        </div>
                        <div class="our-clients__slider-block js-cursor-no-plus">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="our-clients__card">
                                            <div class="our-clients__card-quote">
                                                Мы создаем сильные бренды и эффективные коммуникации на стыке инсайтов
                                                целевой аудитории и выгодных сторон продукта
                                            </div>
                                            <div class="our-clients__card-quote-author">
                                                <div class="our-clients__card-quote-author-image-container">
                                                    <img src="img/sasha.jpg" alt=""
                                                        class="our-clients__card-quote-author-image">
                                                </div>
                                                <div class="our-clients__card-quote-author-content">
                                                    <div class="our-clients__card-quote-author-name">
                                                        Александра Ромашка
                                                    </div>
                                                    <div class="our-clients__card-quote-author-role">
                                                        Менеджер Студии Марк Вебер
                                                    </div>
                                                </div>
                                            </div>

                                            <a href="#" class="case__content-quote-detail-link">
                                                Смотреть полностью
                                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="our-clients__card">
                                            <div class="our-clients__card-quote">
                                                Вторая цитата
                                            </div>
                                            <div class="our-clients__card-quote-author">
                                                <div class="our-clients__card-quote-author-image-container">
                                                    <img src="img/sasha.jpg" alt=""
                                                        class="our-clients__card-quote-author-image">
                                                </div>
                                                <div class="our-clients__card-quote-author-content">
                                                    <div class="our-clients__card-quote-author-name">
                                                        Александра Ромашка
                                                    </div>
                                                    <div class="our-clients__card-quote-author-role">
                                                        Менеджер Студии Марк Вебер
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="case__content-quote-detail-link">
                                                Смотреть полностью
                                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="our-clients__slider-navigation">
                            <button class="our-clients__slider-arrow our-clients__slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="our-clients__slider-arrow our-clients__slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="our-clients__right-col">
                    <div class="our-clients__names">
                        <a href="#" class="our-clients__name">
                            Александра Ромашка
                        </a>
                        <a href="#" class="our-clients__name">
                            Александра Ромашка
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
<section class="blog js-blog-filtering" data-midnight="light" id="blog">
    <div class="container">
        <div class="blog__content">
            <h2 class="blog__section-heading">
                Сегодня в блоге
            </h2>
            <div class="blog__row js-blog-main-content">
                <div class="blog__left-col">
                    <div class="blog__posts">
                        <div class="blog__posts-left-col">
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/1.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>
                                    <span class="blog__post-card-info-item">
                                        Яндекс.Дзен
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="interview">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/3.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани

                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="news">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/4.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Новость · 31.10
                                    </span>

                                </div>
                            </a>

                        </div>
                        <div class="blog__posts-right-col">
                            <a href="#" class="blog__post-card" data-category="mass-media">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/2.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки

                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/4.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Погружение в историю или как мы делали айдентику для уникального музея в Казани
                                    <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"></use>
                                    </svg>
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>
                                    <span class="blog__post-card-info-item">
                                        vc.ru
                                    </span>
                                </div>
                            </a>
                            <a href="#" class="blog__post-card" data-category="articles">
                                <div class="blog__post-card-image-container">
                                    <img src="img/posts/5.jpg" alt="" class="blog__post-card-image">
                                </div>
                                <h4 class="blog__post-card-title">
                                    Инсайт как неосознанная мотивация покупки
                                </h4>
                                <div class="blog__post-card-info">
                                    <span class="blog__post-card-info-item">
                                        Статья · 31.10
                                    </span>

                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="blog__right-col js-blog-sidebar">
                    <div class="blog__sidebar-inner js-blog-sidebar-inner">
                        <div class="blog__menu">

                            <nav class="blog__menu-nav">
                                <a href="#" class="blog__menu-nav-link active" data-category="all">
                                    Все категории
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="interview">
                                    Интервью
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="news">
                                    Новости
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="articles">
                                    Статьи
                                </a>
                                <a href="#" class="blog__menu-nav-link" data-category="mass-media">
                                    СМИ о нас
                                </a>
                            </nav>
                            <a href="#" class="blog__menu-nav-details-link">
                                Перейти в блог
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}