{{#extend "layout"}}
{{#content "main"}}

<section class="portfolio-catalog" data-midnight="light">
    <div class="container">
        <div class="portfolio-catalog__content">
            <a href="portfolio.html" class="case__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
                Портфолио
            </a>



           


            <div class="portfolio-catalog__filtered-by">
                Кейсы по тегу:<br> <em>Нейминг</em>
            </div>
            <ul class="portfolio-catalog__list">
               
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/4.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/5.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}