{{#extend "layout"}}
{{#content "main"}}

<section class="portfolio-catalog" data-midnight="light">
    <div class="container">
        <div class="portfolio-catalog__content">
            <h1 class="portfolio-catalog__heading">
                Портфолио
            </h1>

            <h2 class="portfolio-catalog__secondary-heading">
                Альбом открытых<br> горизонтов
            </h2>

            <nav class="portfolio-catalog__nav portfolio-catalog__nav--content">
                <a href="#" class="portfolio-catalog__nav-link active">
                    Все категории
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Брендинг
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Полиграфия
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Разработка упаковки
                </a>
            </nav>
            <ul class="portfolio-catalog__list">
                <li class="portfolio-catalog__list-item portfolio-catalog__list-item--fullwidth">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/1.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/4.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/5.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}