{{#extend "layout"}}
{{#content "main"}}

<section class="portfolio-catalog" data-midnight="light">
    <div class="container">
        <div class="portfolio-catalog__content">
            <h1 class="portfolio-catalog__heading">
                Портфолио
            </h1>



            <div class="portfolio-catalog__top-row">
                <h2 class="portfolio-catalog__secondary-heading">
                    Альбом открытых<br> горизонтов
                </h2>
                <div class="portfolio-catalog__numbers">
                    <p>
                        11 лет работы
                    </p>
                    <p>
                        54 выполненных проекта
                    </p>
                    <p>
                        26 довольных клиентов
                    </p>
                </div>
            </div>


            <nav class="portfolio-catalog__nav portfolio-catalog__nav--content">
                <a href="#" class="portfolio-catalog__nav-link active">
                    Все категории
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Брендинг
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Полиграфия
                </a>
                <a href="#" class="portfolio-catalog__nav-link">
                    Разработка упаковки
                </a>
            </nav>
            <ul class="portfolio-catalog__list">
                <li class="portfolio-catalog__list-item portfolio-catalog__list-item--fullwidth">
                    {{!-- <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/1.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a> --}}


                    <a href="#" class="portfolio-catalog__large-card">
                        <div class="portfolio-catalog__large-card-image-container">
                            <img data-src="img/portfolio/1.jpg" alt=""
                                class="portfolio-catalog__large-card-image lazyload">
                        </div>
                        <div class="portfolio-catalog__large-card-content">
                            <h4 class="portfolio-catalog__large-card-heading">
                                Пестречинка
                            </h4>
                            <div class="portfolio-catalog__large-card-text">
                                Разработка бренда яичной лапши
                            </div>
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/4.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/5.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/2.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Magnetis
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <img data-src="img/portfolio/3.jpg" alt="" class="portfolio-catalog__card-image lazyload">
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пестречинка
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
                <li class="portfolio-catalog__list-item">
                    <a href="#" class="portfolio-catalog__card">
                        <div class="portfolio-catalog__card-image-container">
                            <video class="portfolio-catalog__card-video lazyload" muted="" data-autoplay="" loop playsinline
                                data-poster="assets/video/preview.jpg" preload="none">
                                <source src="assets/video/video.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <h4 class="portfolio-catalog__card-title">
                            Пример с видео
                        </h4>
                        <div class="portfolio-catalog__card-text">
                            Разработка бренда яичной лапши
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}