{{#extend "layout"}}
{{#content "main"}}


<section class="services">
    <div class="container">

        <div class="services__content">
            <div class="services__page-text">
                Услуги
            </div>
            <div class="services__intro">
                <h1 class="services__intro-heading">
                    Услуги по разработке бренда
                </h1>
                <div class="services__intro-text">
                    <p>
                        Текст-рыба. Точечное воздействие ускоряет рейтинг. Выставка, суммируя приведенные примеры,
                        традиционно притягивает экспериментальный фактор коммуникации. Медиамикс наиболее полно тормозит
                        обществвенный портрет потребителя, учитывая современные тенденции. Стратегическое планирование
                        синхронизирует рекламоноситель.
                    </p>
                </div>
            </div>
            <ul class="services__list">
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 1. Исследования
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Рынок
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Потребители
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Конкуренты
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Бренд-аудит
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Брендинг начинается с исследования и анализа целевой аудитории, рынка, категории, продукта.
                            Используя общепризнанные и авторские методики изучения, мы собираем, сегментируем и
                            анализируем
                            данные, устанавливаем потребительские мотивации, определяем ключевые коммуникационные идеи.
                            В
                            дальнейшем эта информация служит базой, на которой строится бренд-стратегия.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 2. Стратегия
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Стратегия портфеля бренда
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Стратегия выхода на рынок
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">

                                    HR-брендинг

                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Еще один важный этап — создание дизайн-стратегии. Образ бренда строится на основе
                            позиционирования и общей стратегии брендинга. Дизайнеры прорабатывают цветовую гамму,
                            шрифты,
                            графику, фотостиль и другие визуальные составляющие.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 3. Платформа бренда
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Разработка платформы бренда
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    CJM
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Создание матрицы бренда
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Бренд — это платформа, на которой строится успех бизнеса. Он обеспечивает гарантированную
                            прибыль за счет формирования положительного имиджа компании, увеличения привлекательности ее
                            продуктов, придания им добавочной ценности. Эффективный брендинг — процесс создания брендов,
                            вызывающих положительный отклик, а также рациональную и эмоциональную привязанность целевой
                            аудитории.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 4. Вербальная идентификация
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Нейминг
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Легенда бренда
                                </span>

                                <span class="services__card-preview">
                                    <img src="img/services-image.jpg" alt="" class="services__card-preview-image">
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Содание слогана, дескриптора
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Создание названия и текстов — один из наиболее творческих этапов разработки брендинга. Мы
                            понимаем, что в этом деле не бывает мелочей, поэтому учитываем все аспекты. Как название
                            будет
                            выглядеть в письменной речи и как оно будет звучать в разговоре? Не несет ли оно негативного
                            оттенка в других языках? Насколько благозвучно, легко ли произносится? При разработке
                            названия
                            рассматриваются как перечисленные вопросы, так и десятки других.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 5. Визуальная идентификация
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Разработка визуальной системы
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Дизайн упаковки
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Дизайн этикетки
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Рекламная и фуд-съёмка
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Экспресс-дизайн
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Создание фирменного стиля зачастую воспринимается как разработка корпоративной цветовой
                            гаммы и
                            логотипа, которые в дальнейшем используются при оформлении пространств и брендировании
                            продукции. На самом деле это комплексная задача, правильное решение которой позволяет
                            сформировать «лицо» бренда. По сути, фирменный стиль — это система всех визуальных
                            элементов,
                            используемых в дальнейшем для коммуникаций с целевой аудиторией.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            Этап 6. Упаковка
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Бренд-дизайн (стратегия)
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Дизайн упаковки
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Дизайн этикетки
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Рекламная и фуд-съёмка
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Экспресс-дизайн
                                </span>
                            </a>

                        </div>
                        <div class="services__card-text">
                            Создание фирменного стиля зачастую воспринимается как разработка корпоративной цветовой
                            гаммы и
                            логотипа, которые в дальнейшем используются при оформлении пространств и брендировании
                            продукции. На самом деле это комплексная задача, правильное решение которой позволяет
                            сформировать «лицо» бренда. По сути, фирменный стиль — это система всех визуальных
                            элементов,
                            используемых в дальнейшем для коммуникаций с целевой аудиторией.
                        </div>
                    </div>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <h2 class="services__card-heading">
                            7. Продвижение бренда
                        </h2>
                        <div class="services__card-tags">
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Коммуникационная
                                    стратегия
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Рекламная кампания
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Медиапланирование
                                </span>
                            </a>
                            <a href="#" class="services__card-tag">
                                <span class="services__card-tag-content">
                                    Арт-дирекшн
                                </span>
                            </a>


                        </div>
                        <div class="services__card-text">
                            Работа по развитию и популяризации бренда начинается с создания коммуникационной стратегии,
                            которая формирует принципы и систему взаимодействия с потребителями либо с различными их
                            категориями. На этом этапе мы определяем ключевые задачи, разбиваем аудиторию на целевые
                            группы,
                            выбираем манеру и тональность коммуникации.
                        </div>
                    </div>
                </li>
            </ul>
            <div class="services__pricing">
                <h2 class="services__pricing-heading">
                    Сколько стоит брендинг
                </h2>
                <div class="services__pricing-text">
                    <p>
                        Стоимость брендинга не может не интересовать предпринимателя, планирующего заказать услугу.
                        Однако
                        каждый бренд индивидуален и, чтобы ответить на вопрос о цене, необходимо обсудить особенности
                        проекта.
                    </p>
                    <p>
                        Если вы внимательно изучили эту страницу, то наверняка заметили, что некоторые работы
                        повторяются.
                        Это не ошибка и не случайность. Дело в том, что мы рассматриваем брендинг не как цепочку
                        отдельных
                        шагов, а как целостный и неделимый процесс, в котором все этапы плотно переплетены и зависят
                        друг от
                        друга.
                        Правильность такого подхода подтверждают тысячи реализованных проектов, двадцать один год
                        успешной
                        работы, признание на российском и международном рынке. Мы создаем бренды, которые становятся
                        главным
                        нематериальным активом компаний.
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}