{{#extend "layout"}}
{{#content "main"}}


<section class="service">
    <div class="container">
        <div class="service__content">
            <a href="portfolio.html" class="case__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
                Вернуться к услугам
            </a>

            <h1 class="service__main-heading">
                Разработка названия бренда
            </h1>
            <div class="service__text-content">
                <p>
                    Название играет заметную роль в формировании положительного отношения к бренду. Именно поэтому
                    нельзя недооценивать важность профессиональной разработки наименования торговой марки продукта или
                    компании. Правильные названия отражают философию и характер бренда, легко запоминаются, вызывают
                    приятные ассоциации, привлекают потребителей.
                </p>
                <p>
                    Нейминг — процесс создания таких названий. Он подразумевает комплексный подход и выполняется с
                    учетом выбранной стратегии развития бренда, креативной идеи, юридических аспектов. Результатом
                    работы становится название, которое:

                </p>
                <p>
                    - легко произносится и быстро запоминается;<br>
                    - несет смысловую нагрузку и формирует желаемое отношение к бренду;- не допускает разночтений и
                    двусмысленностей;<br>
                    - соответствует категорийным нормам, но позволяет выделиться на фоне конкурентов.<br>
                </p>
                <div class="service__examples">
                    <div class="service__examples-row">
                        <div class="service__examples-col">
                            <a href="#" class="service__examples-card">
                                <div class="service__examples-card-image-container">
                                    <img src="img/service/1.jpg" alt="" class="service__examples-card-image">
                                </div>
                                <h4 class="service__examples-card-title">
                                    Пример названия для бренда пива
                                </h4>
                            </a>
                        </div>
                        <div class="service__examples-col">
                            <a href="#" class="service__examples-card">
                                <div class="service__examples-card-image-container">
                                    <img src="img/service/2.jpg" alt="" class="service__examples-card-image">
                                </div>
                                <h4 class="service__examples-card-title">
                                    Пример названия для бренда яичной лапши
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <h3>
                    Этапы разработки названия бренда
                </h3>
                <p>
                    Существует мнение, что название фирмы или торговой марки обязано быть красивым, оригинальным,
                    эффектным. И это действительно так. Но помимо перечисленных критериев, оно должно передавать
                    положительный посыл, формировать благоприятное отношение к бренду, вызывать желаемые эмоции.
                    Получить такой результат, не зная товарной категории и целевой аудитории, невозможно. Именно поэтому
                    разработка названия бренда начинается с исследования. Специалисты анализируют пожелания заказчика,
                    рыночную ситуацию, предпочтения потребителей, предложения конкурентов.
                </p>
            </div>

            <div class="service__showcase">
                <h2 class="service__showcase-heading">
                    Примеры разработки нейминга
                </h2>
                <ul class="portfolio-catalog__list">

                    <li class="portfolio-catalog__list-item">
                        <a href="#" class="portfolio-catalog__card">
                            <div class="portfolio-catalog__card-image-container">
                                <img data-src="img/portfolio/2.jpg" alt=""
                                    class="portfolio-catalog__card-image lazyload">
                            </div>
                            <h4 class="portfolio-catalog__card-title">
                                Magnetis
                            </h4>
                            <div class="portfolio-catalog__card-text">
                                Разработка бренда яичной лапши
                            </div>
                        </a>
                    </li>
                    <li class="portfolio-catalog__list-item">
                        <a href="#" class="portfolio-catalog__card">
                            <div class="portfolio-catalog__card-image-container">
                                <img data-src="img/portfolio/3.jpg" alt=""
                                    class="portfolio-catalog__card-image lazyload">
                            </div>
                            <h4 class="portfolio-catalog__card-title">
                                Пестречинка
                            </h4>
                            <div class="portfolio-catalog__card-text">
                                Разработка бренда яичной лапши
                            </div>
                        </a>
                    </li>
                    <li class="portfolio-catalog__list-item">
                        <a href="#" class="portfolio-catalog__card">
                            <div class="portfolio-catalog__card-image-container">
                                <img data-src="img/portfolio/4.jpg" alt=""
                                    class="portfolio-catalog__card-image lazyload">
                            </div>
                            <h4 class="portfolio-catalog__card-title">
                                Magnetis
                            </h4>
                            <div class="portfolio-catalog__card-text">
                                Разработка бренда яичной лапши
                            </div>
                        </a>
                    </li>
                    <li class="portfolio-catalog__list-item">
                        <a href="#" class="portfolio-catalog__card">
                            <div class="portfolio-catalog__card-image-container">
                                <img data-src="img/portfolio/5.jpg" alt=""
                                    class="portfolio-catalog__card-image lazyload">
                            </div>
                            <h4 class="portfolio-catalog__card-title">
                                Пестречинка
                            </h4>
                            <div class="portfolio-catalog__card-text">
                                Разработка бренда яичной лапши
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="service__show-all">
                <a href="#" class="service__show-all-link">
                    Смотреть все

                    <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                        <use xlink:href="#long-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}