.about__top-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 13rem;
    @include breakpoint(tablet) {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 5rem;
        max-width: 12rem;
        margin-bottom: 6rem;
    }
}

.about__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--top-offset);
    padding-bottom: var(--bottom-offset);
    padding-left: var(--inner-left-padding);
}

.about__intro-text {
    font-size: 3.6rem;
    line-height: 130%;
    margin-bottom: 14rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 130%;
        margin-bottom: 9.5rem;
    }
}

.about__fullwidth-logo {
    position: relative;
    z-index: 1000;
    margin-left: calc(-1 * (var(--inner-left-padding) + var(--sidebar-width)));
    // width: calc(100vw - var(--content-padding) * 2);
    margin-bottom: 14rem;
    @include breakpoint(mobile) {
        z-index: 10;
        margin-left: 0;
        margin-bottom: 4.4rem;
    }
}

.about__fullwidth-logo-image {
    display: block;
    width: 100%;
    height: auto;
}

.about__fullwidth-image-wrapper {
    position: relative;
    z-index: 1000;
    margin-left: calc(-1 * (var(--inner-left-padding) + var(--sidebar-width)));

    margin-bottom: 10rem;
    @include breakpoint(mobile) {
        z-index: 10;
        margin-left: 0;
        margin-bottom: 5.5rem;
    }
}

.about__fullwidth-image {
    display: block;
    width: 100%;
    height: auto;
}

.about__description {
    margin-bottom: 16.7rem;
    @include breakpoint(mobile) {
        margin-bottom: 12rem;
    }
}

.about__description-heading {
    font-size: 12rem;
    line-height: 120%;
    margin-bottom: 12.7rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 4rem;
        line-height: 120%;
        margin-bottom: 5.5rem;
    }
}

.about__description-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3.2rem;
    max-width: 120rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.about__description-large-text {
    font-size: 3.6rem;
    line-height: 130%;
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 130%;
        margin-bottom: 4rem;
    }
}

.about__description-small-text {
    font-size: 2rem;
    line-height: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.about__team {
    margin-bottom: 16rem;
    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }
}

.about__team-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 3.2rem;
    grid-row-gap: 6rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        display: flex;
        grid-gap: initial;
    }
}

.about__team-list-item {
    @include breakpoint(mobile) {
        margin-bottom: 5.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__team-card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover {
        .about__team-card-social {
            color: #202020;
        }
    }
}

.about__team-card-image-container {
    position: relative;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
        width: 100%;
    }
}

.about__team-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.about__team-card-name {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.4rem;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        margin-bottom: 0.6rem;
    }
}

.about__team-card-role {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
    @include breakpoint(mobile) {
        margin-bottom: 0.6rem;
    }
}

.about__team-card-social {
    display: inline-flex;
    color: #ababab;
    font-size: 2rem;
    line-height: 2.4rem;
    align-items: center;
    transition: color 0.2s;
    svg {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.8rem;
        fill: currentColor;
        position: relative;
        bottom: -0.2rem;
    }
    &:link,
    &:visited {
        color: #ababab;
    }
}

.about__vacancy-card {
    position: relative;
    background: #eaeaea;
    transition: background-color 0.4s, color 0.4s;
    overflow: hidden;

  
    .icon-plus {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 6rem;
        fill: #202020;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &:hover {
        background-color: #202020;
        color: white;
        .about__vacancy-card-content {
            opacity: 1;
            transform: translateY(0%);
            visibility: inherit;
            transition: opacity 0.5s, visibility 0.5s, transform 0.4s ease-out;
        }
    }

    @include breakpoint(mobile) {
        background-color: #202020;
        color: white;
        .about__vacancy-card-content {
            opacity: 1;
            transform: translateY(0%);
            visibility: inherit;
            transition: opacity 0.5s, visibility 0.5s, transform 0.4s ease-out;
        }
    }
}

.about__vacancy-card-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5rem;
    padding-top: 5.4rem;
    transition: opacity 0.5s, visibility 0s linear 0.5s, transform 0.6s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    color: white;

  

    @include breakpoint(mobile) {
        padding: 3rem;
    }
   
}

.about__vacancy-card-small-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;

    p {
        margin-bottom: 1.3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        display: block;
        font-size: 2rem;
        line-height: 2.4rem;
        text-decoration: underline;

        .no-touch &:hover {
            text-decoration: none;
        }
    }
}

.about__vacancy-card-here {
    font-size: 2rem;
    line-height: 2.4rem;

    a {
        text-decoration: underline;

        .no-touch &:hover {
            text-decoration: none;
        }
    }
}

.about__clients-and-friends {
    padding: 4.8rem 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 12.4rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
        padding: 3rem 0;
    }
}

.about__clients-and-friends-heading {
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: 400;
    margin-bottom: 5rem;
    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.1rem;
        margin-bottom: 4rem;
    }
}

.about__clients-and-friends-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 3.2rem;
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.about__clients-and-friends-list-item {
}

.about__clients-and-friends-card {
    position: relative;
    display: inline-flex;

    @include breakpoint(mobile) {
        padding-bottom: 3rem;
        display: flex;
    }
}

.about__clients-and-friends-card-link {
    font-size: 2rem;
    line-height: 3rem;
    color: #202020;
    transition: color 0.2s;

    .touch & {
        pointer-events: none;
    }

    @include breakpointMF(small-tablet) {
        .about__clients-and-friends-card:hover &[href] {
            color: #ababab;
        }
    }
  

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
       
    }
}

.about__clients-and-friends-card-dropdown {
    position: absolute;
    left: 100%;
    top: 50%;

    width: 48rem;
    padding-left: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 40;

    .about__clients-and-friends-list-item:nth-child(3n) & {
        right: 100%;
        left: auto;
        padding-left: 0;
        padding-right: 0.5rem;
    }

    @include breakpoint(mobile) {
        top: 100%;
        left: 0;
        width: 100%;
        right: auto;
        height: auto;
        padding: 0;
    }

    .about__clients-and-friends-card:hover & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
}
.about__clients-and-friends-card-dropdown-inner {
    background: #202020;
    color: white;
    padding: 2.7rem;
    font-size: 1.4rem;
    line-height: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

.about__awards {
    margin-bottom: 22rem;
    @include breakpoint(mobile) {
        margin-bottom: 14rem;
    }
}

.about__awards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    margin-bottom: 19rem;
    display: grid;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
        margin-bottom: 14rem;
    }
}

.about__awards-content {
    grid-column: 2 / -1;
}

.about__awards-heading {
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: 400;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.1rem;
    }
}

.about__awards-list-item {
    font-size: 2rem;
    line-height: 3.2rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: underline;

        .no-touch &:hover {
            text-decoration: none;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.about__follow {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    margin-bottom: 19rem;
    display: grid;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
        margin-bottom: 12rem;
    }
}

.about__follow-content {
    grid-column: 2 / -1;
    font-size: 6rem;
    line-height: 7.2rem;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 3.6rem;
    }

    a {
        text-decoration: underline;
        transition: color 0.2s, border-color 0.2s;
        .no-touch &:hover {
            text-decoration: none;
            color: var(--primary-color);
        }
    }
}
