.blog-page__text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-right: 2rem;
    margin-top: 0.5rem;
    @include breakpoint(tablet) {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 5rem;
        max-width: 12rem;
    }
}

.blog-page__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--top-offset);
    padding-bottom: var(--bottom-offset);
    padding-left: var(--inner-left-padding);
}

.blog-page__posts-list {
    margin-top: 14rem;

    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}

.blog-page__gutter-sizer {
    width: 3.2rem;

    @include breakpoint(mobile) {
        width: 0;
    }
}

.blog-page__posts-list-item {
    margin-bottom: 6.4rem;
    display: block;
    width: calc(33.33% - (6.4rem / 3));

    @include breakpoint(small-tablet) {
        width: calc(50% - (3.2rem / 2));
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 4.8rem;
    }
}

.blog-page__post-card {
    .no-touch &:hover {
        color: var(--primary-color);
        .blog-page__post-card-image {
            transform: scale(1.05);
        }
    }
}

.blog-page__post-card-image-image-container {
    margin-bottom: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.blog-page__post-card-image {
    display: block;
    width: 100%;
    transition: transform 0.6s;
}

.blog-page__post-card-heading {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

    svg {
        display: inline-block;
        vertical-align: baseline;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--primary-color);
    }
}

.blog-page__post-card-bottom-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.blog-page__post-card-category,
.blog-page__post-card-source {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ababab;
}

.blog-page__post-card-category {
    margin-right: 2rem;
}

.blog-page__suggest {
    max-width: 68rem;
    margin-bottom: 17rem;

    @include breakpoint(mobile) {
        max-width: none;
        margin-bottom: 12rem;
    }
}

.blog-page__suggest-link {
    display: inline-flex;
    align-items: center;
    font-size: 6rem;
    line-height: 7.2rem;
    color: #202020;
    margin-bottom: 1.7rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 2.4rem;
    }

    svg {
        fill: currentColor;
        width: 12rem;
        height: 5rem;
        margin-left: 3.4rem;
        flex-shrink: 0;
        position: relative;
        bottom: -0.6rem;

        @include breakpoint(mobile) {
            bottom: -0.3rem;
            height: 1.6rem;
            width: 3.6rem;
        }
    }

    .no-touch &:hover {
        color: var(--primary-color);
    }
}

.blog-page__suggest-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #ababab;
}

.blog-page__footer {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    &::before {
        content: '';
        width: 20%;
        flex-grow: 1;
        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.blog-page__footer-copyright {
    font-size: 2rem;
    line-height: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 1.6rem;
    }
}

.blog-page__footer-made-by {
    width: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: center;

    @include breakpoint(mobile) {
        width: auto;
        flex-grow: 0;
        display: block;
    }
}

.blog-page__footer-made-by-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 114%;
    font-family: 'DundeeMedium', sans-serif;
    color: #acacac;
    letter-spacing: 0.015em;

    @include breakpoint(mobile) {
        font-family: 'DundeeMedium', sans-serif;
        justify-self: flex-start;
        display: inline-flex;
        align-items: baseline;
        font-size: 1.2rem;
      
    }

    &:link,
    &:visited {
        color: #acacac;
    }

    .no-touch &:hover {
        color: #202020;
    }
}

.blog-page__footer-made-by-link-image {
    width: 8rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
    height: auto;
    position: relative;
    bottom: -0.35rem;

    @include breakpoint(mobile) {
        width: 5.8rem;
        flex-shrink: 0;
        margin-left: 0.4rem;
        height: auto;
        position: relative;
        bottom: -0.65rem;
    }
}
