.custom-cursor-main {
    position: fixed;
    z-index: 6000;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4545;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    pointer-events: none;
    display: none;

    &.expand {
        transform: translate(-50%, -50%) scale(1.4);
    }

    &.hidden {
        opacity: 0;
    }

    .touch & {
        display: none;
    }
}

.custom-cursor-secondary {
    width: 38px;
    height: 38px;
    position: fixed;
    z-index: 6000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ff4545;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s, opacity 0.3s, height 0.3s, width 0.3s;
    pointer-events: none;

    &.black-cursor {
        border-color: var(--dark);
    }
    &.expand {
        width: 32px;
        height: 32px;
    }

    &.interactive {
        width: 60px;
        height: 60px;
        opacity: 0;
    }

    &.hidden {
        opacity: 0;
    }

    .touch & {
        display: none;
    }
}

.custom-cursor-slider {
    position: fixed;
    z-index: 6000;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
    width: 34px;
    height: 34px;
    &.visible {
        opacity: 1;
    }

    .icon-cursor-arrow-left,
    .icon-cursor-arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 12px;
        fill: var(--primary-color);
        transition: transform 0.3s;
    }

    .icon-cursor-arrow-left {
        right: 100%;
        margin-right: 10px;
    }

    .icon-cursor-arrow-right {
        left: 100%;
        margin-left: 10px;
    }

    .icon-cursor-plus {
        width: 12px;
        height: 12px;
        fill: var(--primary-color);
        transition: transform 0.2s;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .3s;
    }

    &.expand {
        .custom-cursor-slider__content {
            transform: translate(-50%, -50%) scale(0.7) !important;
        }

        .icon-cursor-arrow-left {
            transform: translateY(-50%) translateX(-0.5rem);
        }
        .icon-cursor-arrow-right {
            transform: translateY(-50%) translateX(0.5rem);
        }
    }

    .touch & {
        display: none;
    }


    &.no-plus {
        .icon-cursor-plus {
            opacity: 0;
        }
    }
}

.custom-cursor-slider__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

// .custom-cursor-new {
//     width: 3.8rem;
//     height: 3.8rem;
//     position: fixed;
//     z-index: 6000;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//     border: 2px solid #ff4545;
//     transition: background-color 0.3s, transform 0.3s, opacity 0.3s, height .3s, width .3s;
//     pointer-events: none;
// }
