

.custom-cursor-main {
    position: fixed;
    z-index: 6000;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4545;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    pointer-events: none;
    &.expand {
        transform: translate(-50%, -50%) scale(1.4);
    }
}



.custom-cursor-secondary {
    width: 3.4rem;
    height: 3.4rem;
    position: fixed;
    z-index: 6000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ff4545;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    pointer-events: none;
    &.expand {
        transform: translate(-50%, -50%) scale(0.7);
    }

    &.interactive {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}