.intro {
    position: relative;
    z-index: 1;
}

.intro__arrows {
    --arrows-fill-color: #ff4545;
    background-color: var(--primary-color);
    position: absolute;
    width: 91.8rem;
    height: 90.8rem;
    background: linear-gradient(225.21deg, rgba(32, 32, 32, 0) 41.17%, rgba(32, 32, 32, 0.8) 96.74%), var(--arrows-fill-color);
    z-index: -1;
    pointer-events: none;
    top: 100%;
    margin-top: -30rem;
    right: var(--content-padding);

    mask-image: url('../img/large-arrows-mask.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.intro__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--top-page-padding);
    padding-left: var(--inner-left-padding);
    padding-bottom: var(--bottom-offset);
}

.intro__main-heading {
    font-weight: 500;
    font-size: 12rem;
    line-height: 102.9%;
    margin-top: 19rem;
    margin-bottom: 4rem;
}

.intro__association {
    margin-top: auto;
    flex-shrink: 0;
    align-self: flex-start;
    &:hover {
        color: var(--primary-color);
    }
}

.intro-association-logo {
    width: 12.2rem;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.intro__arrows {
    position: absolute;
    right: var(--content-padding);
}
