.container {
    width: 100%;
    padding: 0 var(--content-padding);
    padding-left: calc(var(--content-padding) + var(--sidebar-width));

    @include breakpoint(tablet) {
        padding: 0 var(--content-padding);
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mobile-contact-link {
    position: fixed;
    right: var(--content-padding);
    bottom: 4.3rem;
    z-index: 90;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    display: none;
    color: white;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background: #ff0000;
    transition: color 0.2s, background-color 0.2s;
    padding: 1.1rem 1.3rem;
    border-radius: 6rem;
    z-index: 1100;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: white;
        color: #ff0000;
    }

    @include breakpoint(mobile) {
        display: block;
    }
}

.express-contact-btn {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    padding: 2rem 2rem;
    background: #ff4545;

    color: white;
    flex-shrink: 0;
    font-weight: 500;
    display: block;
    margin-right: var(--content-padding);
    margin-top: auto;
    margin-bottom: 6rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: #d03838;
        color: white;
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

.express-contact-btn ~ .page-header__social {
    margin-top: 0;
}
