.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1300;
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 var(--content-padding);
    padding-bottom: var(--bottom-offset);
    padding-top: var(--top-offset);
    background-image: url('../img/bg-arrow.svg');
    background-position: right var(--content-padding) top;
    background-size: auto 110%;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s, transform 0.5s;
    transform: translateY(-100%);
    overscroll-behavior: contain;
    @include breakpoint(tablet) {
        transform: none;
        background-size: contain;
        background-position: center;
    }


    @include breakpoint(mobile) {
        background-size: 86rem auto;
        background-position: right -16rem top 9rem;
    }

    .menu-shown & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility .5s, transform .5s;
        transform: translateY(0%);
    }
}

.menu__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    @include breakpoint(tablet) {
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;
        // display: block;
    }
}

.menu__inner-left-col {
    width: var(--sidebar-width);
    flex-shrink: 0;

    border-right: 2px solid #363636;
    display: flex;
    flex-direction: column;

    
    @include breakpoint(tablet) {
        width: 100%;
        border: none;
        margin-bottom: 6rem;
    }


    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.menu__inner-right-col {
    width: 50%;
    flex-grow: 1;
    padding-left: var(--inner-left-padding);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    @include breakpoint(tablet) {
        width: 100%;
        flex-grow: 0;
        padding: 0;
    }
}

.menu__logo-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.menu__logo-image {
    display: block;
    width: 21rem;
    height: auto;
    max-width: 100%;
    @include breakpoint(tablet) {
        width: 24rem;
    }

    @include breakpoint(mobile) {
        width: 12rem;
    }
}

.menu__inner-top-row,
.menu__inner-middle-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) var(--right-col-width);

    grid-gap: 2rem;

    @include breakpoint(tablet) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.menu__inner-middle-row {
    margin-top: 18rem;

    @include breakpoint(tablet) {
        margin-bottom: 3rem;
        margin-top: 0;
    }
}

.menu__inner-top-row {
    @include breakpoint(tablet) {
        display: contents;
    }
}

.menu__heading {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;

    @include breakpoint(tablet) {
        display: none;
    }
}

.menu__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    @include breakpoint(tablet) {
        margin-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        margin-top: 10rem;
        margin-bottom: 8rem;
    }
}

.menu__nav-link {
    color: rgba(white, 0.3);
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    position: relative;

    transition: color 0.2s, opacity 0.2s;

    

    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: rgba(white, 0.3);
    }

   
    &.active {
        color: white;
    }

    

    @include breakpoint(tablet) {
        font-size: 5rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
    }
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 1.4rem;
    }
}


.menu__nav-link-pointer {
    content: '';
    left: calc(-1 * var(--inner-left-padding) - 2px);
    height: 1.7rem;
    width: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    @include breakpoint(tablet) {
        display: none;
    }
}

.menu__nav-link-text {
    display: block;
}

.menu__contacts {
    display: flex;
    flex-direction: column;
}

.menu__contacts-info {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 7rem;
    margin-top: 1.8rem;
    p {
        margin-bottom: 3.2rem;
        @include breakpoint(tablet) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        &:link,
        &:visited {
            color: inherit;
        }

        &:hover {
            color: var(--primary-color);
        }
    }

    @include breakpoint(tablet) {
        margin-bottom: 6rem;
        font-size: 2.4rem;
        line-height: 1.4;
    }
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        font-size: 1.6rem;
        line-height: 1.4;
        display: none;
    }
}

.menu__close {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: white;
    transition: color 0.2s;
    .no-touch &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(tablet) {
        position: absolute;
        right: var(--content-padding);
        top: var(--top-offset);
        font-size: 2.6rem;
        line-height: 1.4;
    }
    @include breakpoint(mobile) {
      
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

.menu__close-content {
    display: flex;
    align-items: center;

    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-right: 1rem;

        @include breakpoint(tablet) {
            width: 2rem;
            height: 2rem;
            margin-right: 1.6rem;
        }
        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0;
        }
    }
}

.menu__close-content-text {
    @include breakpoint(mobile) {
        @include visuallyHidden();
    }
}

.menu__download-presentation {
    display: inline-flex;
    align-items: flex-start;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    &:link,
    &:visited {
        color: white;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: currentColor;
        margin-top: 0.3rem;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(tablet) {
        margin-bottom: 6rem;
        font-size: 2.4rem;
        line-height: 1.4;

        svg {
            width: 2rem;
            height: 2rem;
            margin-top: .7rem;
            margin-right: 1.4rem;
        }
        
    }
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        font-size: 1.6rem;
        line-height: 1.9rem;

        svg {
            width: 1.4rem;
            height: 1.4rem;
            margin-top: 0.3rem;
            margin-right: 1rem;
        }
    }
}

.menu__download-presentation-size {
    text-transform: lowercase;
    color: #ababab;
    margin-top: 0.3rem;
    display: block;
}

.menu__contact-us {
    padding: 1.8rem 6rem;
    background: #ff4545;
    color: white;
    margin-top: auto;
    font-size: 1.6rem;
    line-height: 2rem;
    flex-shrink: 0;
    border: 1px solid #ff4545;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    text-align: center;
    align-self: flex-start;
    &:hover {
        background-color: transparent;
    }

    @include breakpoint(tablet) {
        padding: 2.4rem 10rem;
        font-size: 2.6rem;
        line-height: 1.4;
    }
    @include breakpoint(mobile) {
        padding: 1.8rem 6.4rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.menu__social-list {
    width: 100%;
    margin-top: auto;
    color: white;
    @include breakpoint(tablet) {
        display: none;
    }
}

.menu__social-list-item {
    margin-bottom: 1.6rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.menu__social-link {
    font-size: 1.8rem;
    line-height: 1.2;
    font-family: var(--roboto);
    &:hover {
        color: var(--primary-color);
    }
}
