.our-clients__content {
   
    display: flex;
    flex-direction: column;
    padding-top: 16rem;
    justify-content: flex-end;
    padding-left: var(--inner-left-padding);

    padding-top: var(--top-offset);
    padding-bottom: var(--bottom-offset);

    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-bottom: 14rem;
    position: relative;
    z-index: 5;

    @include breakpoint(tablet) {
        min-height: auto;
        padding-top: 6rem;
        padding-bottom: 10rem;
    }

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
}

.our-clients__heading {
    font-size: 6rem;
    line-height: 7.2rem;
    margin-bottom: 7rem;
    font-weight: 500;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 6rem;
    }
}

.our-clients__row {
    display: flex;
    justify-content: space-between;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: initial;
    }
}

.our-clients__left-col {
    width: 12rem;
    flex-shrink: 0;
    margin-right: 8rem;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        margin-bottom: 7rem;
    }
}

.our-clients__logos-list {

    &--hidden {
        @include visuallyHidden();
    }
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 8.5rem;
        grid-row-gap: 4rem;
    }
}

.our-clients__logos-list-item {
    margin-bottom: 3rem;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }
    &:last-child {
        margin-bottom: 0;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitContain();
    }

    @include breakpoint(mobile) {
        margin: 0;
        &:nth-child(n + 5) {
            display: none;
        }
    }
}



.our-clients__right-col {
    width: 88.6rem;
    flex-shrink: 1;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        padding: 0;
    }
}

.our-clients__slider {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    .swiper-container {
        margin: 0;
        margin-bottom: 2rem;
        @include breakpoint(mobile) {
            margin-bottom: 5rem;
        }
    }
}

.our-clients__slider-navigation {
    margin-top: auto;
    display: flex;
    align-items: center;

   
}

.our-clients__slider-arrow {
    flex-shrink: 0;
    margin-right: 1.8rem;
    transition: color 0.2s, opacity 0.2s;

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.5;
    }
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        display: block;
        @include breakpoint(small-tablet) {
            width: 4rem;
            height: 4rem;
        }

        @include breakpoint(small-tablet) {
            width: 5rem;
            height: 5rem;
        }

        @include breakpoint(mobile) {
            width: 3rem;
            height: 3rem;
           
        }
    }

    &:not(.swiper-button-disabled):hover {
        color: var(--primary-color);
    }

    @include breakpoint(small-tablet) {
        margin-right: 2rem;
    }

    @include breakpoint(small-tablet) {
        margin-right: 2.4rem;
    }

    @include breakpoint(mobile) {
        margin-right: 1.7rem;
    }
}

.our-clients__slider-progressbar {
    height: 2px;
    width: 100%;
    background-color: #ededed;
    margin-bottom: 4.8rem;
    display: block;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: left center;
        background-color: #202020;
        transform: scaleX(var(--slider-progress, 0));
    }

    @include breakpoint(mobile) {
        margin-bottom: 3.2rem;
    }
}

.our-clients__card-quote {
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;

    &::before {
        content: '';
        width: 4.5rem;
        height: 3.7rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/quotes.svg');
        flex-shrink: 0;
        vertical-align: baseline;
        margin-right: 0.7rem;
        display: inline-block;
        @include breakpoint(mobile) {
            width: 2.9rem;
            height: 2.4rem;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 2.5rem;
    }
}

.our-clients__card-quote-author {
    display: flex;
    align-items: center;
}

.our-clients__card-quote-author-image-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 7.8rem;
    flex-shrink: 0;
    margin-right: 2.4rem;
    &::after {
        content: '';
        padding-bottom: 100%;
        display: block;
        width: 100%;
    }

    @include breakpoint(mobile) {
        width: 5rem;
        margin-right: 1.4rem;
    }
}

.our-clients__card-quote-author-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.our-clients__card-quote-author-content {
    width: 50%;
    flex-grow: 1;
}

.our-clients__card-quote-author-name {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 0.7rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 0.5rem;
    }
}

.our-clients__card-quote-author-role {
    color: #ababab;
    font-size: 2.4rem;
    line-height: 2.9rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}
