.page-footer {
    background: var(--dark);
    color: white;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }
}

.page-footer__content {
    min-height: 100vh;
    padding-left: var(--inner-left-padding);
    padding-bottom: var(--bottom-offset);
    padding-top: var(--top-offset);
    display: grid;
    grid-template-columns: minmax(0, 37.6rem) 1fr minmax(0, var(--right-col-width));
    grid-column-gap: 3.2rem;
    grid-template-rows: repeat(3, auto);

    grid-template-areas: 'e up nav' 'btn btn btn' 'x copyright madeby';

    @include breakpoint(tablet) {
        min-height: 80rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 'up nav' 'btn btn' 'copyright madeby';
    }

    @include breakpoint(mobile) {
        min-height: 66.7rem;
        min-height: 100vh;
        padding: 0;
        grid-template-areas: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 0;
        position: relative;
    }
}

.page-footer__write-us {
    grid-area: btn;
}

.page-footer__write-us-interested {
    font-weight: 500;
    font-size: 4rem;
    line-height: 1;
    color: #ababab;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
        margin-bottom: 2rem;
        font-weight: 400;
    }

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }
}

.page-footer__write-us-btn {
    vertical-align: middle;
    text-align: left;
    font-weight: 600;
    font-size: 12rem;
    line-height: 1;
    color: white;
    transition: all 0.2s;

    @include breakpointMF(laptop) {
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke-color: white;
    }

    @include breakpoint(tablet) {
        font-size: 10rem;
        font-weight: 400;
    }

    @include breakpoint(mobile) {
        font-size: 6rem;
        line-height: 7.2rem;
    }
}

.page-footer__write-us-btn-text {
    @include breakpoint(tablet) {
        border-bottom: 1px solid rgba(white, 0.1);
    }
}

.page-footer__write-us-btn-arrow {
    flex-shrink: 0;
    margin-left: 3rem;
    color: transparent;
    display: inline-block;
    vertical-align: middle;
    @include breakpoint(tablet) {
        margin-left: 3rem;
    }

    @include breakpoint(mobile) {
        margin-left: 2rem;
    }
    svg {
        width: 14rem;
        height: 14rem;
        flex-shrink: 0;
        display: block;

        transition: none;
        position: relative;

        @include breakpoint(tablet) {
            color: var(--primary-color);
            width: 14rem;
            height: 14rem;
        }

        @include breakpoint(mobile) {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

.page-footer__copyright {
    grid-area: copyright;
    align-self: flex-end;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        align-self: flex-end;
        justify-self: flex-end;
        position: absolute;
        right: 0;
        bottom: 2.8rem;
    }
}

.page-footer__madeby {
    font-family: 'DundeeMedium', sans-serif;
    justify-self: flex-start;
    display: inline-flex;
    align-items: baseline;
    letter-spacing: 0.015em;
    color: #acacac;
    grid-area: madeby;
    align-self: flex-end;

    &:link,
    &:visited {
        color: #acacac;
    }

    &:hover {
        color: white;
    }

    @include breakpoint(tablet) {
        justify-self: flex-end;
    }

    @include breakpoint(small-tablet) {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        align-self: flex-end;
        justify-self: flex-end;

        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.page-footer__madeby-image {
    width: 8rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
    height: auto;
    position: relative;
    bottom: -0.85rem;

    @include breakpoint(small-tablet) {
        width: 9rem;
        bottom: -.9rem;
    }

    @include breakpoint(mobile) {
        width: 5.7rem;
        bottom: -0.6rem;
        margin-left: 0.6rem;
    }
}

.page-footer__scroll-top {
    justify-self: flex-start;
    align-self: flex-start;
    font-weight: 500;
    grid-area: up;
    svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: currentColor;
        margin-right: 1rem;
        flex-shrink: 0;
        position: relative;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(tablet) {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 400;
        svg {
            width: 1.8rem;
            height: 1.8rem;
            bottom: -0.2rem;
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: nav;
    padding-top: 6rem;
    @include breakpoint(tablet) {
        padding-top: 0;
        align-items: flex-end;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__nav-link {
    margin-bottom: 1.2rem;
    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(tablet) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

.page-footer__nav-social {
    display: none;
    @include breakpoint(mobile) {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 50%;
        align-items: flex-start;
    }
}
