.page-header {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    z-index: 1200;
    color: var(--page-header-text-color);
}

.page-header__logo-link {
    z-index: 700;
    pointer-events: initial;
    display: inline-flex;
    align-self: flex-start;
    margin-bottom: auto;
    color: var(--logo-color);

    img,
    svg {
        width: 21rem;
        height: auto;

        max-width: 100%;

        @include breakpoint(tablet) {
            width: 24rem;
        }

        @include breakpoint(mobile) {
            width: 12rem;
        }
    }
    &:link,
    &:visited {
        color: var(--logo-color);
    }
}

.page-header__row {
    padding-top: var(--top-offset);
    display: flex;
    align-items: flex-start;
    padding-left: var(--inner-left-padding);
}

.page-header__left-col {
    width: 50%;
    flex-grow: 1;
}

.page-header__right-col {
    width: var(--right-col-width);
    flex-shrink: 0;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    margin-top: -.6rem;
    @include breakpoint(mobile) {
        flex-shrink: 1;
        width: auto;
        margin-top: 0;
    }
}

.page-header__agency-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-right: 2rem;

    @include breakpoint(small-tablet) {
        margin-top: 7rem;
        font-size: 2.4rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 6rem;
        max-width: 12rem;
    }
}

.page-header__burger-btn {
    flex-shrink: 0;
    pointer-events: initial;
    backface-visibility: hidden;
    transform: translateZ(0);

    margin-right: 4.8rem;
    padding: 1.2rem 0;

    &:hover .page-header__burger-btn-content {
        &::before {
            transform: translateY(-0.3rem);
        }
        &::after {
            transform: translateY(0.3rem);
        }
    }

    @include breakpoint(mobile) {
        margin-right: 0;
        padding: 0;
    }
}

.page-header__burger-btn-content {
    display: flex;
    flex-direction: column;
    width: 5rem;
    color: inherit;
    &::before,
    &::after {
        content: '';
        transition: transform 0.3s;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        flex-shrink: 0;
        backface-visibility: hidden;
    }

    &::before {
        margin-bottom: 0.8rem;
    }

    @include breakpoint(small-tablet) {
        width: 7rem;
        &::before {
            margin-bottom: 1.2rem;
        }
    }

    @include breakpoint(mobile) {
        width: 3.3rem;
        &::before {
            margin-bottom: 0.8rem;
        }
    }
}

.page-header__contact-link {
    color: var(--primary-color);
    flex-shrink: 0;
    margin-left: 3rem;
    font-weight: 500;
    pointer-events: initial;
    padding: 0.8rem;
    padding-right: 0;
    margin-left: auto;
    font-size: 1.8rem;
    line-height: 1.2;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: var(--primary-color-hover);
    }

    @include breakpoint(tablet) {
        font-size: 2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        display: none;
        padding: 0;
    }
}

.page-header__scroll-progress {
    position: absolute;
    top: var(--top-offset);
    bottom: var(--bottom-offset);
    right: 0;
    width: 2px;
    background-color: var(--progress-color);
    z-index: 600;

    &--wide {
        width: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: center top;
        background-color: var(--progress-thumb-color);
        transform: scaleY(var(--scroll-progress, 0));
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

.page-header__social {
    z-index: 600;
    width: 100%;
   
    color: var(--social-color);
    @include breakpoint(tablet) {
        display: none;
    }
}

.page-header__social-list-item {
    margin-bottom: 1.6rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__social-link {
    font-family: var(--roboto);
    font-size: 1.8rem;
    line-height: 1.2;
    &:hover {
        color: var(--primary-color);
    }
}

.page-header__language-link {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 500;
    pointer-events: initial;
    margin-right: 3rem;
    flex-shrink: 0;
    padding: 0.8rem;
    margin-left: 0.8rem;
    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(tablet) {
        font-size: 2rem;
        line-height: 1.2;
        
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        padding: 0;
        margin-left: 0;
        margin-right: 2rem;
        order: -1;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    // background-color: red;
    z-index: 900;
    width: calc(var(--sidebar-width) + var(--content-padding));
    transition: background-color 0.2s;

    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        bottom: auto;
        width: auto;
    }
}

.sidebar__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: var(--content-padding);
    padding-top: var(--top-offset);
    padding-bottom: var(--bottom-offset);
    @include breakpoint(tablet) {
        padding-bottom: 0;
        height: auto;
    }
}

.page-header .midnightHeader.light {
    color: #202020;
}

.midnightHeader.light {
    .page-header__logo-link {
        color: #ff0000;
        &:link,
        &:visited {
            color: #ff0000;
        }
    }

    .page-header__scroll-progress {
        background-color: #e9e9e9;
        &::before {
            background-color: #202020;
        }
    }

    .page-header__social {
        color: #202020;
    }

    .portfolio-catalog__nav-link {
        color: #ababab;

        &:link,
        &:visited {
            color: #ababab;
        }

        &.active,
        &:hover {
            color: #202020;
        }
    }
}


.midnightHeader.red-bar {
    .page-header__logo-link {
        color: #ff0000;
        &:link,
        &:visited {
            color: #ff0000;
        }
    }

    .page-header__scroll-progress {
        background-color: #e9e9e9;
        &::before {
            background-color: #FF0000;
        }
    }

    .page-header__social {
        color: #202020;
    }

    .portfolio-catalog__nav-link {
        color: #ababab;

        &:link,
        &:visited {
            color: #ababab;
        }

        &.active,
        &:hover {
            color: #202020;
        }
    }
}

.page-header .midnightHeader.dark {
    color: white;
}
.midnightHeader.dark {
    .page-header__logo-link {
        color: #ff4545;
        &:link,
        &:visited {
            color: #ff4545;
        }
    }

    .page-header__scroll-progress {
        background-color: #363636;
        &::before {
            background-color: #ffffff;
        }
    }

    .page-header__social {
        color: white;
    }

    .portfolio-catalog__nav-link {
        color: rgba(white, 0.7);

        &:link,
        &:visited {
            color: rgba(white, 0.7);
        }

        &.active,
        &:hover {
            color: white;
        }
    }

    .case-nav__link {
        color: rgba(white, .55);

        &:link,
        &:visited {
            color: rgba(white, .55);
        }
        &::after {
            color: white;
        }
    }

    .case-nav__process-link {
        color: #ff4545;
        &:link,
        &:visited {
            color: #ff4545;
        }

        &:hover {
            color: var(--primary-color);
        }
    }

    .case-share-link {
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.page-header .midnightHeader.red {
    color: white;
}

.midnightHeader.red {
    .page-header__logo-link {
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }

    .page-header__scroll-progress {
        background-color: #ff4e4e;
        &::before {
            background-color: white;
        }
    }

    .page-header__social {
        color: white;
    }

    .portfolio-catalog__nav-link {
        color: rgba(white, 0.7);

        &:link,
        &:visited {
            color: rgba(white, 0.7);
        }

        &.active,
        &:hover {
            color: white;
        }
    }

    .page-header__contact-link {
        &:link,
        &:visited {
            color: white;
        }

        &:hover {
            color: black;
        }
    }

    .page-header__language-link {
        &:hover {
            color: black;
        }
    }

    .page-header__social-link {
        &:hover {
            color: var(--dark);
        }
    }

    .express-contact-btn {
        background-color: #fff;
      
        color: var(--dark);
        &:link,
        &:visited {
            color: var(--dark);
        }

        &:hover {
            background-color: var(--dark);
          
            color: white;
        }
    }
}
