.page-header {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    z-index: 600;
    color: var(--page-header-text-color);
}

.page-header__logo-link {
    z-index: 700;
    pointer-events: initial;
    display: inline-flex;
    align-self: flex-start;
    margin-bottom: auto;
    color: var(--logo-color);
    &:link,
    &:visited {
        color: var(--logo-color);
    }
}

.page-header__logo-image {
    width: 21rem;
    height: auto;
    max-width: 100%;
}

.page-header__row {
    padding-top: var(--top-offset);
    display: flex;
    align-items: flex-start;
    padding-left: var(--inner-left-padding);
    
}

.page-header__left-col {
    width: 50%;
    flex-grow: 1;
  
}

.page-header__right-col {
    width: var(--right-col-width);
    flex-shrink: 0;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.page-header__agency-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-right: 2rem;
}

.page-header__burger-btn {
    margin-right: auto;
    flex-shrink: 0;
    pointer-events: initial;
    &:hover .page-header__burger-btn-content {
        &::before {
            transform: translateY(-0.3rem);
        }
        &::after {
            transform: translateY(0.3rem);
        }
    }
}

.page-header__burger-btn-content {
    display: flex;
    flex-direction: column;
    width: 5rem;

    &::before,
    &::after {
        content: '';
        transition: transform 0.3s;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        flex-shrink: 0;
    }

    &::before {
        margin-bottom: 0.8rem;
    }
}

.page-header__contact-link {
    color: var(--primary-color);
    flex-shrink: 0;
    margin-left: 3rem;
    font-weight: 500;
    pointer-events: initial;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.page-header__scroll-progress {
    position: absolute;
    top: var(--top-offset);
    bottom: var(--bottom-offset);
    right: 0;
    width: 2px;
    background-color: var(--progress-color);
    z-index: 600;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: center top;
        background-color: var(--progress-thumb-color);
        transform: scaleY(var(--scroll-progress, 0));
    }
}

.page-header__social {
    z-index: 600;
    width: 100%;
    margin-top: auto;
    color: var(--social-color);
}

.page-header__social-list-item {
    margin-bottom: 1.2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__social-link {
    font-family: var(--roboto);
    &:hover {
        color: var(--primary-color);
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    // background-color: red;
    z-index: 900;
    width: calc(var(--sidebar-width) + var(--content-padding));
    transition: background-color 0.2s;

    display: flex;
    flex-direction: column;
}

.sidebar__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: var(--content-padding);
    padding-top: var(--top-offset);
    padding-bottom: var(--bottom-offset);
}

.page-header .midnightHeader.light {
    color: #202020;
}

.midnightHeader.light {
    .page-header__logo-link {
        color: #ff0000;
        &:link,
        &:visited {
            color: #ff0000;
        }
    }

    .page-header__scroll-progress {
        background-color: #e9e9e9;
        &::before {
            background-color: #202020;
        }
    }

    .page-header__social {
        color: #202020;
    }
}

.page-header .midnightHeader.dark {
    color: white;
}
.midnightHeader.dark {
    .page-header__logo-link {
        color: #ff4545;
        &:link,
        &:visited {
            color: #ff4545;
        }
    }

    .page-header__scroll-progress {
        background-color: #363636;
        &::before {
            background-color: #ffffff;
        }
    }

    .page-header__social {
        color: white;
    }
}
