.portfolio-intro {
  
}

.portfolio-intro__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 23rem;
    padding-left: var(--inner-left-padding);
    padding-bottom: 16rem;
    position: relative;
    z-index: 5;

    @include breakpoint(tablet) {
        min-height: auto;
        padding-bottom: 12rem;
    }

    @include breakpoint(small-tablet) {
        padding-top: 0;
    }

    @include breakpoint(mobile) {
        padding-top: 0;
        padding-bottom: 4rem;
    }
}

.portfolio-intro__info {
    max-width: 70rem;

    @include breakpoint(tablet) {
        margin-bottom: 4rem;
    }

    @include breakpoint(small-tablet) {
        min-height: auto;
        max-width: 85rem;
        margin-bottom: 0;
    }
}

.portfolio-intro__link {
    color: var(--primary-color);

    font-size: 2.4rem;
    line-height: 2.9rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-left: 0.7rem;
        transition: transform 0.2s;
        position: relative;
        bottom: -0.25rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: #d03838;

        svg {
            transform: translateX(0.3rem);
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;

        svg {
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.8rem;
            position: relative;
            bottom: -0.2rem;
        }
    }
}

.portfolio-intro__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.portfolio-intro__left-col {
    width: 58rem;
    margin-right: 3.2rem;

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
    }
}

.portfolio-intro__right-col {
    width: 47.8rem;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
    }
}

.portfolio-intro__large-text {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;


    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }
}

.portfolio-intro__small-text {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
