.portfolio {
    @include breakpoint(small-tablet) {
        background-color: var(--dark);
        color: white;
    }
}

.portfolio__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 23rem;
    padding-left: var(--inner-left-padding);
    padding-bottom: var(--bottom-offset);
    position: relative;
    z-index: 5;

    @include breakpoint(small-tablet) {
        min-height: auto;
    }

    @include breakpoint(mobile) {
        padding-top: 15rem;
        padding-bottom: 4rem;
    }
}

.portfolio__intro {
    max-width: 70rem;
    margin-bottom: 10rem;

    @include breakpoint(tablet) {
        margin-bottom: 4rem;
    }

    @include breakpoint(small-tablet) {
        min-height: auto;
        max-width: 85rem;
    }
}

.portfolio__intro-heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.2rem;
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 3rem;
    }
}

.portfolio__intro-text {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 3rem;
    }
}

.portfolio__intro-link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.6rem;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;

    svg {
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-left: 1.2rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;

        svg {
            width: 1.4rem;
            height: 1.4rem;
            margin-left: 0.8rem;
            position: relative;
            bottom: -0.2rem;
        }
    }
}

.portfolio__albums {
    padding-top: 5rem;
}

.portfolio__albums-backgrounds {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    &.shown {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
        z-index: 40;
    }
}

.portfolio__albums-background-list,
.portfolio__albums-background-list-item,
.portfolio__albums-background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.portfolio__albums-background-list-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s linear 0.6s;

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.6s, visibility 0.6s;
        z-index: 10;
    }
}

.portfolio__albums-background-image {
    @include objectFitCover();
}

.portfolio__albums-heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.2rem;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 4.5rem;
    }
}

.portfolio__albums-list-item {
    border-bottom: 1px solid #ababab;
    &:first-child {
        border-top: 1px solid #ababab;
    }
}

.portfolio__albums-card {
    display: flex;
    padding: 2rem 0;
    min-height: 20rem;
    align-items: center;
    &:link,
    &:visited {
        color: rgba(white, 0.3);
    }

    .portfolio__albums-list-item.active & {
        color: white;
    }

    @include breakpoint(mobile) {
        padding: 4rem 0;
        flex-direction: column;
        min-height: auto;
    }
}

.portfolio__albums-card-title {
    font-weight: 500;
    font-size: 6.2rem;
    line-height: 7.4rem;
    width: 50%;
    flex-grow: 1;

    svg {
        display: none;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.8rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        flex-grow: 0;
        svg {
            display: block;
            flex-shrink: 0;
            fill: currentColor;
            width: 2rem;
            height: 2rem;
            margin-left: 2rem;
        }
    }
}

.portfolio__albums-card-brief {
    width: var(--right-col-width);
    flex-shrink: 0;
    margin-left: 3rem;
    color: rgba(#ababab, 0.3);
    transition: color 0.3s;

    .portfolio__albums-list-item.active & {
        color: white;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
        margin-top: 1.4rem;
    }
}

.portfolio__more-link {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
    color: white;
    border-bottom: 0.5rem solid #ababab;
    transition: border-color 0.3s;
    svg {
        width: 2.8rem;
        height: 2.8rem;
        flex-shrink: 0;
        margin-right: 1.4rem;
        fill: currentColor;
        &:last-child {
            display: none;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        border-color: white;
    }

    @include breakpoint(small-tablet) {
        min-height: 16rem;
    }

    @include breakpoint(mobile) {
        min-height: auto;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.9rem;
        justify-content: space-between;
        padding: 4.7rem 0;
        svg {
            &:first-child {
                display: none;
            }

            &:last-child {
                display: block;
                margin: 0;
                flex-shrink: 0;
                fill: currentColor;
                width: 2rem;
                height: 2rem;
                margin-left: 2rem;
            }
        }
    }
}
