.services__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--top-offset);
    padding-bottom: 24rem;
    padding-left: var(--inner-left-padding);

    @include breakpoint(mobile) {
        padding-bottom: 13rem;
    }
}

.services__page-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-right: 2rem;
    margin-top: 0.5rem;
    @include breakpoint(tablet) {
        margin-top: 7rem;
        font-size: 2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: 5rem;
        max-width: 12rem;
    }
}

.services__intro {
    margin-bottom: 11.8rem;
    margin-top: 15.5rem;

    @include breakpoint(mobile) {
        margin-top: 6.2rem;
        margin-bottom: 5.6rem;
    }
}

.services__intro-heading {
    font-size: 6rem;
    line-height: 110%;
    margin-bottom: 5.2rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 3.8rem;
        margin-bottom: 4rem;
    }
}

.services__intro-text {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 80rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.2rem;
        max-width: none;
    }
}

.services__list {
    margin-bottom: 9.6rem;
    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }
}

.services__card {
    border-top: 1px solid #c8c8c8;
    padding-top: 5.6rem;
    padding-bottom: 6.4rem;

    .services__list-item:last-child & {
        border-bottom: 1px solid #c8c8c8;
    }

    @include breakpoint(mobile) {
        padding-top: 4.8rem;
        padding-bottom: 6.4rem;
    }
}

.services__card-heading {
    font-size: 3.6rem;
    line-height: 4.3rem;
    font-weight: 400;
    margin-bottom: 4.3rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 5.4rem;
    }
}

.services__card-tags {
    font-size: 6rem;
    line-height: 7.2rem;
    margin-bottom: 5.5rem;

    max-width: 106.4rem;

    a {
      
        display: inline-block;
        margin-bottom: 0.5rem;

        span {
            border-bottom: 3px solid currentColor;
            transition: border-color 0.2s;
        }

        .no-touch &:hover {
            color: #ff0000;

            span {
                border-color: transparent;
            }
        
        }
    }

    @include breakpoint(mobile) {
        max-width: none;
        flex-direction: column;
        align-items: flex-start;
        font-size: 3.2rem;
        line-height: 1.3;
        a {
          
            margin-bottom: 2.8rem;

            span {
                border-bottom: 2px solid currentColor;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.services__card-text {
    font-size: 1.6rem;
    line-height: 2rem;
    max-width: 60rem;

    @include breakpoint(mobile) {
        max-width: none;
    }
}

.services__pricing-heading {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.2;
        margin-bottom: 3rem;
        font-weight: 400;
    }
}

.services__pricing-text {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 80rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    p {
        margin-bottom: 1.2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
